main/wsdl-schema/nodoperpspiscrizioniavvisatura/NodoPerPSPIscrizioniAvvisatura.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Questo WSDL rappresenta l'interfaccia esposta dal Nodo dei Pagamenti Telematici per il caricamento delle anagrafiche dei clienti . -->
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:sac="http://ws.pagamenti.telematici.gov/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://PuntoAccessoPSP.spcoop.gov.it/servizi/IscrizioniAvvisatura"
                  targetNamespace="http://PuntoAccessoPSP.spcoop.gov.it/servizi/IscrizioniAvvisatura">

    <wsdl:types>
        <xsd:schema version="2.1" targetNamespace="http://ws.pagamenti.telematici.gov/">

            <xsd:include schemaLocation="sac-common-types-1.0.xsd"/>

            <xsd:complexType name="ctDatiNotifica">
                <xsd:sequence>
                    <xsd:element name="dataOraRichiesta" type="sac:stISODateTime"/>
                    <xsd:element name="identificativoMessaggioRichiesta" type="sac:stIdentificativoMessaggioRichiesta"/>
                    <xsd:element name="identificativoUnivocoSoggetto" type="sac:ctIdentificativoUnivocoPersonaFG"/>
                    <xsd:element name="azioneDiAggiornamento" type="sac:stTipoAzioneAggiornamento"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="ctAggiornaIscrizioniAvvisatura">
                <xsd:sequence>
                    <xsd:element name="identificativoPSP" type="sac:stText35"/>
                    <xsd:element name="identificativoIntermediarioPSP" type="sac:stText35"/>
                    <xsd:element name="identificativoCanale" type="sac:stText35"/>
                    <xsd:element name="password" type="sac:stText35"/>
                    <xsd:element name="datiNotifica" type="sac:ctDatiNotifica"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="ctAggiornaIscrizioniAvvisaturaRisposta">
                <xsd:complexContent>
                    <xsd:extension base="sac:ctRisposta">
                        <xsd:sequence>
                            <xsd:element name="esitoOperazione" type="sac:stEsitoOperazione"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>

            <!-- Wrapper Elements -->
            <xsd:element name="nodoAggiornaIscrizioniAvvisatura" type="sac:ctAggiornaIscrizioniAvvisatura"/>
            <xsd:element name="nodoAggiornaIscrizioniAvvisaturaRisposta" type="sac:ctAggiornaIscrizioniAvvisaturaRisposta"/>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="nodoAggiornaIscrizioniAvvisatura">
        <wsdl:part name="bodyrichiesta" element="sac:nodoAggiornaIscrizioniAvvisatura"/>
    </wsdl:message>
    <wsdl:message name="nodoAggiornaIscrizioniAvvisaturaRisposta">
        <wsdl:part name="bodyrisposta" element="sac:nodoAggiornaIscrizioniAvvisaturaRisposta"/>
    </wsdl:message>

    <wsdl:portType name="IscrizioniAvvisatura">
        <wsdl:operation name="nodoAggiornaIscrizioniAvvisatura">
            <wsdl:input message="tns:nodoAggiornaIscrizioniAvvisatura"
                        wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoAggiornaIscrizioniAvvisatura"/>
            <wsdl:output message="tns:nodoAggiornaIscrizioniAvvisaturaRisposta"
                         wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoAggiornaIscrizioniAvvisaturaRisposta"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IscrizioniAvvisaturaBinding" type="tns:IscrizioniAvvisatura">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="nodoAggiornaIscrizioniAvvisatura">
            <soap:operation soapAction="nodoAggiornaIscrizioniAvvisatura"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IscrizioniAvvisaturaService">
        <wsdl:port name="PPTPort" binding="tns:IscrizioniAvvisaturaBinding">
            <soap:address location="http://PuntoAccessoPSP.spcoop.gov.it/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
