gad/wsdl/NodoPerPsp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Questo WSDL rappresenta l'interfaccia esposta dal Nodo dei Pagamenti Telematici
  per la verifica dei pagamenti in attesa verso i PSP.
-->
<wsdl:definitions name="PPT"
				  xmlns:ppt="http://ws.pagamenti.telematici.gov/"
				  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
				  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				  xmlns:tns="http://PuntoAccessoPSP.spcoop.gov.it/servizi/PagamentiTelematiciPspNodo"
				  targetNamespace="http://PuntoAccessoPSP.spcoop.gov.it/servizi/PagamentiTelematiciPspNodo">

	<wsdl:types>
		<xsd:schema version="2.1.2" targetNamespace="http://ws.pagamenti.telematici.gov/">
			
			<xsd:include schemaLocation="../../xsd-common/sac-common-types-1.0.xsd" />

			<xsd:simpleType name="stText25">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1" />
					<xsd:maxLength value="25" />
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="stCCPost">
				<xsd:restriction base="xsd:string">
					<xsd:length value="12"/>
					<xsd:pattern value="[0-9]{12}"/>
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="stCF">
				<xsd:restriction base="xsd:string">
					<xsd:length value="11"/>
					<xsd:pattern value="[0-9]{11}"/>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="stGln">
    			<xsd:restriction base="xsd:string">
      				<xsd:length value="13"/>
      				<xsd:pattern value="[0-9]{13}"/>
    			</xsd:restriction>
  			</xsd:simpleType>
			
			<xsd:simpleType name="stAuxDigit">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="0"/>
					<xsd:enumeration value="1"/>
					<xsd:enumeration value="2"/>
					<xsd:enumeration value="3"/>
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="stCodStazPA">
				<xsd:restriction base="xsd:string">
					<xsd:length value="2"/>
					<xsd:pattern value="[0-9]{2}"/>
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="stCodIUV">
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="[0-9]{15}|[0-9]{17}"/>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="stPassword">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="8" />
					<xsd:maxLength value="15" />
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="stForzaControlloSegno">
				<xsd:restriction base="xsd:int">
					<xsd:enumeration value="0"/>
					<xsd:enumeration value="1"/>
				</xsd:restriction>
			</xsd:simpleType>

			<!-- Element Definition -->
			<xsd:complexType name="risposta">
				<xsd:sequence>
					<xsd:element name="fault" type="ppt:faultBean" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="faultBean">
				<xsd:sequence>
					<xsd:element name="faultCode" type="xsd:string" />
					<xsd:element name="faultString" type="xsd:string" />
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="description" type="xsd:string" minOccurs="0" />
					<xsd:element name="serial" type="xsd:int" minOccurs="0" />
					<xsd:element name="originalFaultCode" type="xsd:string"  minOccurs="0"  />
					<xsd:element name="originalFaultString" type="xsd:string"  minOccurs="0"  />
					<xsd:element name="originalDescription" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="nodoInviaFlussoRendicontazione">
				<xsd:sequence>
					<xsd:element name="identificativoPSP" type="ppt:stText35" />
					<xsd:element name="identificativoIntermediarioPSP" type="ppt:stText35" />
					<xsd:element name="identificativoCanale" type="ppt:stText35" />
					<xsd:element name="password" type="ppt:stPassword" />
					<xsd:element name="identificativoDominio" type="ppt:stText35" />
					<xsd:element name="identificativoFlusso" type="xsd:string" />
					<xsd:element name="dataOraFlusso" type="xsd:dateTime" />
					<xsd:element name="xmlRendicontazione" type="xsd:base64Binary" xmime:expectedContentTypes="application/octet-stream" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="nodoInviaFlussoRendicontazioneRisposta">
				<xsd:complexContent>
					<xsd:extension base="ppt:risposta">
						<xsd:sequence>
							<xsd:element name="esito" type="xsd:string" minOccurs="1" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="nodoChiediInformativaPA">
				<xsd:sequence>
					<xsd:element name="identificativoPSP" type="ppt:stText35" minOccurs="0" />
					<xsd:element name="identificativoIntermediarioPSP" type="ppt:stText35" />
					<xsd:element name="identificativoCanale" type="ppt:stText35" />
					<xsd:element name="password" type="ppt:stPassword" />
					<xsd:element name="identificativoDominio" type="ppt:stText35" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="nodoChiediInformativaPARisposta">
				<xsd:complexContent>
					<xsd:extension base="ppt:risposta">
						<xsd:sequence>
							<xsd:element name="xmlInformativa" type="xsd:base64Binary" minOccurs="0" xmime:expectedContentTypes="application/octet-stream" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="nodoChiediTemplateInformativaPSP">
				<xsd:sequence>
					<xsd:element name="identificativoPSP" type="ppt:stText35" />
					<xsd:element name="identificativoIntermediarioPSP" type="ppt:stText35" />
					<xsd:element name="identificativoCanale" type="ppt:stText35" />
					<xsd:element name="password" type="ppt:stPassword" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="nodoChiediTemplateInformativaPSPRisposta">
				<xsd:complexContent>
					<xsd:extension base="ppt:risposta">
						<xsd:sequence>
							<xsd:element name="xmlTemplateInformativa" type="xsd:base64Binary" minOccurs="0" xmime:expectedContentTypes="application/octet-stream" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>


			<!-- Wrapper Elements -->
			<xsd:element name="nodoInviaFlussoRendicontazione" type="ppt:nodoInviaFlussoRendicontazione" />
			<xsd:element name="nodoInviaFlussoRendicontazioneRisposta" type="ppt:nodoInviaFlussoRendicontazioneRisposta" />

			<xsd:element name="nodoChiediInformativaPA" type="ppt:nodoChiediInformativaPA" />
			<xsd:element name="nodoChiediInformativaPARisposta" type="ppt:nodoChiediInformativaPARisposta" />

			<xsd:element name="nodoChiediTemplateInformativaPSP" type="ppt:nodoChiediTemplateInformativaPSP" />
			<xsd:element name="nodoChiediTemplateInformativaPSPRisposta" type="ppt:nodoChiediTemplateInformativaPSPRisposta" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="nodoInviaFlussoRendicontazione">
		<wsdl:part name="bodyrichiesta" element="ppt:nodoInviaFlussoRendicontazione" />
	</wsdl:message>
	<wsdl:message name="nodoInviaFlussoRendicontazioneResponse">
		<wsdl:part name="bodyrisposta" element="ppt:nodoInviaFlussoRendicontazioneRisposta" />
	</wsdl:message>

	<wsdl:message name="nodoChiediInformativaPA">
		<wsdl:part name="bodyrichiesta" element="ppt:nodoChiediInformativaPA" />
	</wsdl:message>
	<wsdl:message name="nodoChiediInformativaPAResponse">
		<wsdl:part name="bodyrisposta" element="ppt:nodoChiediInformativaPARisposta" />
	</wsdl:message>

	<wsdl:message name="nodoChiediTemplateInformativaPSP">
		<wsdl:part name="bodyrichiesta" element="ppt:nodoChiediTemplateInformativaPSP" />
	</wsdl:message>
	<wsdl:message name="nodoChiediTemplateInformativaPSPResponse">
		<wsdl:part name="bodyrisposta" element="ppt:nodoChiediTemplateInformativaPSPRisposta" />
	</wsdl:message>

	<wsdl:portType name="PagamentiTelematiciPspNodo">
		<wsdl:operation name="nodoChiediInformativaPA">
			<wsdl:input message="tns:nodoChiediInformativaPA" />
			<wsdl:output message="tns:nodoChiediInformativaPAResponse" />
		</wsdl:operation>
		<wsdl:operation name="nodoChiediTemplateInformativaPSP">
			<wsdl:input message="tns:nodoChiediTemplateInformativaPSP" />
			<wsdl:output message="tns:nodoChiediTemplateInformativaPSPResponse" />
		</wsdl:operation>
		<wsdl:operation name="nodoInviaFlussoRendicontazione">
			<wsdl:input message="tns:nodoInviaFlussoRendicontazione" />
			<wsdl:output message="tns:nodoInviaFlussoRendicontazioneResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="PagamentiTelematiciPspNodobinding" type="tns:PagamentiTelematiciPspNodo">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="nodoChiediInformativaPA">
			<soap:operation soapAction="nodoChiediInformativaPA" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediTemplateInformativaPSP">
			<soap:operation soapAction="nodoChiediTemplateInformativaPSP" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoInviaFlussoRendicontazione">
			<soap:operation soapAction="nodoInviaFlussoRendicontazione" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PagamentiTelematiciPspNodoservice">
		<wsdl:port name="PPTPort" binding="tns:PagamentiTelematiciPspNodobinding">
			<soap:address location="http://PuntoAccessoPSP.spcoop.gov.it/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
