wsdl/nodeForPa.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://pagopa-api.pagopa.gov.it/service/node/NodeForPa"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="nodeForPa"
	targetNamespace="http://pagopa-api.pagopa.gov.it/service/node/NodeForPa">
	<wsdl:types>
		<xsd:schema version="1.0.0">
			<xsd:import schemaLocation="../xsd/nodeForPa.xsd"
				namespace="http://pagopa-api.pagopa.gov.it/nodeForPa/xsd/v1.0.0/"></xsd:import>

			<xsd:element name="nodoChiediElencoFlussiRendicontazioneRequest"
				type="nodoChiediElencoFlussiRendicontazioneRequest" />
			<xsd:element name="nodoChiediElencoFlussiRendicontazioneResponse"
				type="nodoChiediElencoFlussiRendicontazioneResponse" />

			<xsd:element name="nodoChiediFlussoRendicontazioneRequest"
				type="nodoChiediFlussoRendicontazioneRequest" />
			<xsd:element name="nodoChiediFlussoRendicontazioneResponse"
				type="nodoChiediFlussoRendicontazioneResponse" />
				
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="nodoChiediElencoFlussiRendicontazione">
		<wsdl:part name="bodyrequest"
			element="nodoChiediElencoFlussiRendicontazioneRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="nodoChiediElencoFlussiRendicontazioneResponse">
		<wsdl:part name="bodyresponse"
			element="nodoChiediElencoFlussiRendicontazioneResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="nodoChiediFlussoRendicontazione">
		<wsdl:part name="bodyrequest"
			element="nodoChiediFlussoRendicontazioneRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="nodoChiediFlussoRendicontazioneResponse">
		<wsdl:part name="bodyresponse"
			element="nodoChiediFlussoRendicontazioneResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="nodeForPa">
		<wsdl:operation name="nodoChiediElencoFlussiRendicontazione">
			<wsdl:input message="tns:nodoChiediElencoFlussiRendicontazione" />
			<wsdl:output message="tns:nodoChiediElencoFlussiRendicontazioneResponse" />
		</wsdl:operation>
		<wsdl:operation name="nodoChiediFlussoRendicontazione">
			<wsdl:input message="tns:nodoChiediFlussoRendicontazione"></wsdl:input>
			<wsdl:output message="tns:nodoChiediFlussoRendicontazioneResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="nodeForPaBinding"
		type="tns:nodeForPa">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="nodoChiediElencoFlussiRendicontazione">
			<soap:operation
				soapAction="nodoChiediElencoFlussiRendicontazione" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediFlussoRendicontazione">
			<soap:operation
				soapAction="nodoChiediFlussoRendicontazione" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="nodeForPaService">
		<wsdl:port binding="tns:nodeForPaBinding"
			name="nodeForPaPort">
			<soap:address location="http://pagopa-api.pagopa.gov.it/service/node/NodeForPa" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
