wsdl/nodeForPsp.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://pagopa-api.pagopa.gov.it/nodeForPsp"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:nfp="http://pagopa-api.pagopa.gov.it/node/nodeForPsp.xsd"
	targetNamespace="http://pagopa-api.pagopa.gov.it/nodeForPsp">
	<wsdl:types>
		<xsd:schema>
			<xsd:import schemaLocation="../xsd/nodeForPsp.xsd" namespace="http://pagopa-api.pagopa.gov.it/node/nodeForPsp.xsd" />

			<xsd:element name="verificaBollettinoReq"
				type="nfp:verificaBollettinoReq" />
			<xsd:element name="verificaBollettinoRes"
				type="nfp:verificaBollettinoRes" />

			<xsd:element name="verifyPaymentNoticeReq"
				type="nfp:verifyPaymentNoticeReq" />
			<xsd:element name="verifyPaymentNoticeRes"
				type="nfp:verifyPaymentNoticeRes" />

			<xsd:element name="activatePaymentNoticeReq"
				type="nfp:activatePaymentNoticeReq" />
			<xsd:element name="activatePaymentNoticeRes"
				type="nfp:activatePaymentNoticeRes" />

			<xsd:element name="sendPaymentOutcomeReq"
				type="nfp:sendPaymentOutcomeReq" />
			<xsd:element name="sendPaymentOutcomeRes"
				type="nfp:sendPaymentOutcomeRes" />

			<xsd:element name="nodoInviaFlussoRendicontazioneRequest"
				type="nfp:nodoInviaFlussoRendicontazioneRequest" />
			<xsd:element name="nodoInviaFlussoRendicontazioneResponse"
				type="nfp:nodoInviaFlussoRendicontazioneResponse" />
				
			<xsd:element name="nodoChiediTemplateInformativaPSPRequest"
				type="nfp:nodoChiediTemplateInformativaPSPRequest" />
			<xsd:element name="nodoChiediTemplateInformativaPSPResponse"
				type="nfp:nodoChiediTemplateInformativaPSPResponse" />
				
			<xsd:element name="nodoChiediInformativaPARequest"
				type="nfp:nodoChiediInformativaPARequest" />
			<xsd:element name="nodoChiediInformativaPAResponse"
				type="nfp:nodoChiediInformativaPAResponse" />
				
			<xsd:element name="demandPaymentNoticeRequest"
				type="nfp:demandPaymentNoticeRequest" />
			<xsd:element name="demandPaymentNoticeResponse"
				type="nfp:demandPaymentNoticeResponse" />

			<xsd:element name="activatePaymentNoticeV2Request"
				type="nfp:activatePaymentNoticeV2Request" />
			<xsd:element name="activatePaymentNoticeV2Response"
				type="nfp:activatePaymentNoticeV2Response" />

			<xsd:element name="sendPaymentOutcomeV2Request"
				type="nfp:sendPaymentOutcomeV2Request" />
			<xsd:element name="sendPaymentOutcomeV2Response"
				type="nfp:sendPaymentOutcomeV2Response" />
				
			<xsd:element name="nodoChiediCatalogoServiziV2Request"
				type="nfp:nodoChiediCatalogoServiziV2Request" />
			<xsd:element name="nodoChiediCatalogoServiziV2Response"
				type="nfp:nodoChiediCatalogoServiziV2Response" />
				
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="demandPaymentNotice">
		<wsdl:part name="bodyrequest"
			element="demandPaymentNoticeRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="demandPaymentNoticeResponse">
		<wsdl:part name="bodyresponse"
			element="demandPaymentNoticeResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="verificaBollettinoReq">
		<wsdl:part name="bodyrequest"
			element="verificaBollettinoReq"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="verificaBollettinoRes">
		<wsdl:part name="bodyresponse"
			element="verificaBollettinoRes"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="verifyPaymentNoticeReq">
		<wsdl:part name="bodyrequest"
			element="verifyPaymentNoticeReq"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="verifyPaymentNoticeRes">
		<wsdl:part name="bodyresponse"
			element="verifyPaymentNoticeRes"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="activatePaymentNoticeReq">
		<wsdl:part name="bodyrequest"
			element="activatePaymentNoticeReq"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="activatePaymentNoticeRes">
		<wsdl:part name="bodyresponse"
			element="activatePaymentNoticeRes"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="activatePaymentNoticeV2">
		<wsdl:part name="bodyrequest"
			element="activatePaymentNoticeV2Request"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="activatePaymentNoticeV2Response">
		<wsdl:part name="bodyresponse"
			element="activatePaymentNoticeV2Response"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="sendPaymentOutcomeReq">
		<wsdl:part name="bodyrequest"
			element="sendPaymentOutcomeReq"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="sendPaymentOutcomeRes">
		<wsdl:part name="bodyresponse"
			element="sendPaymentOutcomeRes"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="sendPaymentOutcomeV2">
		<wsdl:part name="bodyrequest"
			element="sendPaymentOutcomeV2Request"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="sendPaymentOutcomeV2Response">
		<wsdl:part name="bodyresponse"
			element="sendPaymentOutcomeV2Response"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="nodoInviaFlussoRendicontazione">
		<wsdl:part name="bodyrequest"
			element="nodoInviaFlussoRendicontazioneRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message
		name="nodoInviaFlussoRendicontazioneResponse">
		<wsdl:part name="bodyresponse"
			element="nodoInviaFlussoRendicontazioneResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message
		name="nodoChiediTemplateInformativaPSP">
		<wsdl:part name="bodyrequest"
			element="nodoChiediTemplateInformativaPSPRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message
		name="nodoChiediTemplateInformativaPSPResponse">
		<wsdl:part name="bodyresponse"
			element="nodoChiediTemplateInformativaPSPResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="nodoChiediInformativaPA">
		<wsdl:part name="bodyrequest"
			element="nodoChiediInformativaPARequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="nodoChiediInformativaPAResponse">
		<wsdl:part name="bodyresponse"
			element="nodoChiediInformativaPAResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="nodoChiediCatalogoServiziV2">
		<wsdl:part name="bodyrequest"
			element="nodoChiediCatalogoServiziV2Request"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="nodoChiediCatalogoServiziV2Response">
		<wsdl:part name="bodyresponse"
			element="nodoChiediCatalogoServiziV2Response"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="nodeForPsp">
		<wsdl:operation name="demandPaymentNotice">
			<wsdl:input message="tns:demandPaymentNotice" />
			<wsdl:output message="tns:demandPaymentNoticeResponse" />
		</wsdl:operation>
		<wsdl:operation name="verificaBollettino">
			<wsdl:input message="tns:verificaBollettinoReq"></wsdl:input>
			<wsdl:output message="tns:verificaBollettinoRes"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="verifyPaymentNotice">
			<wsdl:input message="tns:verifyPaymentNoticeReq"></wsdl:input>
			<wsdl:output message="tns:verifyPaymentNoticeRes"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="activatePaymentNotice">
			<wsdl:input message="tns:activatePaymentNoticeReq"></wsdl:input>
			<wsdl:output message="tns:activatePaymentNoticeRes"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="activatePaymentNoticeV2">
			<wsdl:input message="tns:activatePaymentNoticeV2" />
			<wsdl:output message="tns:activatePaymentNoticeV2Response" />
		</wsdl:operation>
		<wsdl:operation name="sendPaymentOutcome">
			<wsdl:input message="tns:sendPaymentOutcomeReq" />
			<wsdl:output message="tns:sendPaymentOutcomeRes" />
		</wsdl:operation>
		<wsdl:operation name="sendPaymentOutcomeV2">
			<wsdl:input message="tns:sendPaymentOutcomeV2" />
			<wsdl:output message="tns:sendPaymentOutcomeV2Response" />
		</wsdl:operation>
		<wsdl:operation name="nodoInviaFlussoRendicontazione">
			<wsdl:input
				message="tns:nodoInviaFlussoRendicontazione"></wsdl:input>
			<wsdl:output
				message="tns:nodoInviaFlussoRendicontazioneResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediTemplateInformativaPSP">
			<wsdl:input
				message="tns:nodoChiediTemplateInformativaPSP"></wsdl:input>
			<wsdl:output
				message="tns:nodoChiediTemplateInformativaPSPResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediInformativaPA">
			<wsdl:input message="tns:nodoChiediInformativaPA"></wsdl:input>
			<wsdl:output
				message="tns:nodoChiediInformativaPAResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediCatalogoServiziV2">
			<wsdl:input message="tns:nodoChiediCatalogoServiziV2"></wsdl:input>
			<wsdl:output
				message="tns:nodoChiediCatalogoServiziV2Response"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="nodeForPspBinding"
		type="tns:nodeForPsp">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="demandPaymentNotice">
			<soap:operation
				soapAction="demandPaymentNotice" />
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="sendPaymentOutcome">
			<soap:operation
				soapAction="sendPaymentOutcome" />
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="sendPaymentOutcomeV2">
			<soap:operation
				soapAction="sendPaymentOutcomeV2" />
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="verificaBollettino">
			<soap:operation
				soapAction="verificaBollettino" />
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="verifyPaymentNotice">
			<soap:operation
				soapAction="verifyPaymentNotice" />
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="activatePaymentNotice">
			<soap:operation
				soapAction="activatePaymentNotice" />
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="activatePaymentNoticeV2">
			<soap:operation
				soapAction="activatePaymentNoticeV2" />
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoInviaFlussoRendicontazione">
			<soap:operation
				soapAction="nodoInviaFlussoRendicontazione" />
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediTemplateInformativaPSP">
			<soap:operation
				soapAction="nodoChiediTemplateInformativaPSP" />
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediInformativaPA">
			<soap:operation
				soapAction="nodoChiediInformativaPA" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediCatalogoServiziV2">
			<soap:operation
				soapAction="nodoChiediCatalogoServiziV2" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="nodeForPspService">
		<wsdl:port binding="tns:nodeForPspBinding"
			name="nodeForPspPort">
			<soap:address
				location="http://pagopa-api.pagopa.gov.it/service/node/NodeForPsp" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
