wsdl/pspForNode.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://pagopa-api.pagopa.gov.it/psp/pspForNode"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://pagopa-api.pagopa.gov.it/psp/pspForNode">
	<wsdl:types>
		<xsd:schema version="1.0.0" xmlns:imp_1="http://pagopa-api.pagopa.gov.it/pspForNode/xsd/v1.0.0/">
            <xsd:import schemaLocation="../xsd/pspForNode.xsd" namespace="http://pagopa-api.pagopa.gov.it/pspForNode/xsd/v1.0.0/" />
            <xsd:element name="pspNotifyPaymentReq" type="imp_1:pspNotifyPaymentReq" />
			<xsd:element name="pspNotifyPaymentRes" type="imp_1:pspNotifyPaymentRes" />
        </xsd:schema>
		<xsd:schema version="2.0.0" xmlns:imp_2="http://pagopa-api.pagopa.gov.it/pspForNode/xsd/v2.0.0/">
			<xsd:import schemaLocation="../xsd/pspForNode_2_0_0.xsd" namespace="http://pagopa-api.pagopa.gov.it/pspForNode/xsd/v2.0.0/" />
			<xsd:element name="pspNotifyPaymentV2" type="imp_2:pspNotifyPaymentV2" />
			<xsd:element name="pspNotifyPaymentV2Response" type="imp_2:pspNotifyPaymentV2Response" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="pspNotifyPaymentReq">
        <wsdl:part element="pspNotifyPaymentReq" name="requestBody" />
    </wsdl:message>
    <wsdl:message name="pspNotifyPaymentRes">
        <wsdl:part element="pspNotifyPaymentRes" name="responseBody" />
    </wsdl:message>
	<wsdl:message name="pspNotifyPaymentV2">
		<wsdl:part element="pspNotifyPaymentV2" name="bodyrequest" />
	</wsdl:message>
	<wsdl:message name="pspNotifyPaymentV2Response">
		<wsdl:part element="pspNotifyPaymentV2Response" name="bodyresponse" />
	</wsdl:message>
	<wsdl:portType name="pspForNode">
        <wsdl:operation name="pspNotifyPayment">          
            <wsdl:input message="tns:pspNotifyPaymentReq" />
            <wsdl:output message="tns:pspNotifyPaymentRes" />
        </wsdl:operation>
		<wsdl:operation name="pspNotifyPaymentV2">
			<wsdl:input message="tns:pspNotifyPaymentV2" />
			<wsdl:output message="tns:pspNotifyPaymentV2Response" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="pspForNodeBinding" type="tns:pspForNode">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="pspNotifyPayment">
            <soap:operation soapAction="pspNotifyPayment" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
		<wsdl:operation name="pspNotifyPaymentV2">
			<soap:operation soapAction="pspNotifyPaymentV2" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="pspForNodeService">
		<wsdl:port binding="tns:pspForNodeBinding" name="pspForNodePort">
			<soap:address location="http://pagopa-api.pagopa.gov.it/service/psp/pspForNode" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
