nodo/nodeForPsp_2_0_0.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://pagopa-api.pagopa.gov.it/nodeForPsp/v2.0.0/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="nodeForPsp-v2.0.0"
	targetNamespace="http://pagopa-api.pagopa.gov.it/nodeForPsp/v2.0.0/">
	<wsdl:types>
		<xsd:schema version="2.0.0"
			xmlns:imp="http://pagopa-api.pagopa.gov.it/nodeForPsp/xsd/v2.0.0/">
			<xsd:import schemaLocation="../xsd/nodeForPsp_2_0_0.xsd"
				namespace="http://pagopa-api.pagopa.gov.it/nodeForPsp/xsd/v2.0.0/"></xsd:import>

			<xsd:element name="demandPaymentNoticeRequest"
				type="imp:demandPaymentNoticeRequest" />
			<xsd:element name="demandPaymentNoticeResponse"
				type="imp:demandPaymentNoticeResponse" />

			<xsd:element name="verificaBollettinoRequest"
				type="imp:verificaBollettinoRequest" />
			<xsd:element name="verificaBollettinoResponse"
				type="imp:verificaBollettinoResponse" />

			<xsd:element name="verifyPaymentNoticeRequest"
				type="imp:verifyPaymentNoticeRequest" />
			<xsd:element name="verifyPaymentNoticeResponse"
				type="imp:verifyPaymentNoticeResponse" />

			<xsd:element name="activatePaymentNoticeRequest"
				type="imp:activatePaymentNoticeRequest" />
			<xsd:element name="activatePaymentNoticeResponse"
				type="imp:activatePaymentNoticeResponse" />

			<xsd:element name="sendPaymentOutcomeRequest"
				type="imp:sendPaymentOutcomeRequest" />
			<xsd:element name="sendPaymentOutcomeResponse"
				type="imp:sendPaymentOutcomeResponse" />

			<xsd:element name="nodoInviaFlussoRendicontazioneRequest"
				type="imp:nodoInviaFlussoRendicontazioneRequest" />
			<xsd:element name="nodoInviaFlussoRendicontazioneResponse"
				type="imp:nodoInviaFlussoRendicontazioneResponse" />
				
			<xsd:element name="nodoChiediTemplateInformativaPSPRequest"
				type="imp:nodoChiediTemplateInformativaPSPRequest" />
			<xsd:element name="nodoChiediTemplateInformativaPSPResponse"
				type="imp:nodoChiediTemplateInformativaPSPResponse" />
				
			<xsd:element name="nodoChiediInformativaPARequest"
				type="imp:nodoChiediInformativaPARequest" />
			<xsd:element name="nodoChiediInformativaPAResponse"
				type="imp:nodoChiediInformativaPAResponse" />
				
			<xsd:element name="nodoChiediCatalogoServiziRequest"
				type="imp:nodoChiediCatalogoServiziRequest" />
			<xsd:element name="nodoChiediCatalogoServiziResponse"
				type="imp:nodoChiediCatalogoServiziResponse" />
				
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="demandPaymentNoticeRequest">
		<wsdl:part name="bodyrequest"
			element="demandPaymentNoticeRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="demandPaymentNoticeResponse">
		<wsdl:part name="bodyresponse"
			element="demandPaymentNoticeResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="verificaBollettinoRequest">
		<wsdl:part name="bodyrequest"
			element="verificaBollettinoRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="verificaBollettinoResponse">
		<wsdl:part name="bodyresponse"
			element="verificaBollettinoResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="verifyPaymentNoticeRequest">
		<wsdl:part name="bodyrequest"
			element="verifyPaymentNoticeRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="verifyPaymentNoticeResponse">
		<wsdl:part name="bodyresponse"
			element="verifyPaymentNoticeResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="activatePaymentNoticeRequest">
		<wsdl:part name="bodyrequest"
			element="activatePaymentNoticeRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="activatePaymentNoticeResponse">
		<wsdl:part name="bodyresponse"
			element="activatePaymentNoticeResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="sendPaymentOutcomeRequest">
		<wsdl:part name="bodyrequest"
			element="sendPaymentOutcomeRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="sendPaymentOutcomeResponse">
		<wsdl:part name="bodyresponse"
			element="sendPaymentOutcomeResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="nodoInviaFlussoRendicontazioneRequest">
		<wsdl:part name="bodyrequest"
			element="nodoInviaFlussoRendicontazioneRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message
		name="nodoInviaFlussoRendicontazioneResponse">
		<wsdl:part name="bodyresponse"
			element="nodoInviaFlussoRendicontazioneResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message
		name="nodoChiediTemplateInformativaPSPRequest">
		<wsdl:part name="bodyrequest"
			element="nodoChiediTemplateInformativaPSPRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message
		name="nodoChiediTemplateInformativaPSPResponse">
		<wsdl:part name="bodyresponse"
			element="nodoChiediTemplateInformativaPSPResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="nodoChiediInformativaPARequest">
		<wsdl:part name="bodyrequest"
			element="nodoChiediInformativaPARequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="nodoChiediInformativaPAResponse">
		<wsdl:part name="bodyresponse"
			element="nodoChiediInformativaPAResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="nodoChiediCatalogoServiziRequest">
		<wsdl:part name="bodyrequest"
			element="nodoChiediCatalogoServiziRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="nodoChiediCatalogoServiziResponse">
		<wsdl:part name="bodyresponse"
			element="nodoChiediCatalogoServiziResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="nodeForPsp">
		<wsdl:operation name="demandPaymentNotice">
			<wsdl:input message="tns:demandPaymentNoticeRequest" />
			<wsdl:output message="tns:demandPaymentNoticeResponse" />
		</wsdl:operation>
		<wsdl:operation name="verificaBollettino">
			<wsdl:input message="tns:verificaBollettinoRequest"></wsdl:input>
			<wsdl:output message="tns:verificaBollettinoResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="verifyPaymentNotice">
			<wsdl:input message="tns:verifyPaymentNoticeRequest"></wsdl:input>
			<wsdl:output message="tns:verifyPaymentNoticeResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="activatePaymentNotice">
			<wsdl:input message="tns:activatePaymentNoticeRequest"></wsdl:input>
			<wsdl:output message="tns:activatePaymentNoticeResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="sendPaymentOutcome">
			<wsdl:input message="tns:sendPaymentOutcomeRequest" />
			<wsdl:output message="tns:sendPaymentOutcomeResponse" />
		</wsdl:operation>
		<wsdl:operation name="nodoInviaFlussoRendicontazione">
			<wsdl:input
				message="tns:nodoInviaFlussoRendicontazioneRequest"></wsdl:input>
			<wsdl:output
				message="tns:nodoInviaFlussoRendicontazioneResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediTemplateInformativaPSP">
			<wsdl:input
				message="tns:nodoChiediTemplateInformativaPSPRequest"></wsdl:input>
			<wsdl:output
				message="tns:nodoChiediTemplateInformativaPSPResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediInformativaPA">
			<wsdl:input message="tns:nodoChiediInformativaPARequest"></wsdl:input>
			<wsdl:output
				message="tns:nodoChiediInformativaPAResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediCatalogoServizi">
			<wsdl:input message="tns:nodoChiediCatalogoServiziRequest"></wsdl:input>
			<wsdl:output
				message="tns:nodoChiediCatalogoServiziResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="nodeForPspBinding"
		type="tns:nodeForPsp">
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="demandPaymentNotice">
			<soap:operation
				soapAction="http://pagopa-api.pagopa.gov.it/nodeForPsp/v2.0.0/demandPaymentNotice" />
			<wsdl:input>
				<soap:body use="literal"
					namespace="http://pagopa-api.pagopa.gov.it/nodeForPsp/v2.0.0/" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"
					namespace="http://pagopa-api.pagopa.gov.it/nodeForPsp/v2.0.0/" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="sendPaymentOutcome">
			<soap:operation
				soapAction="http://pagopa-api.pagopa.gov.it/nodeForPsp/v2.0.0/sendPaymentOutcome" />
			<wsdl:input>
				<soap:body use="literal"
					namespace="http://pagopa-api.pagopa.gov.it/nodeForPsp/v2.0.0/" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"
					namespace="http://pagopa-api.pagopa.gov.it/nodeForPsp/v2.0.0/" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="verificaBollettino">
			<soap:operation
				soapAction="http://pagopa-api.pagopa.gov.it/nodeForPsp/v2.0.0/verificaBollettino" />
			<wsdl:input>
				<soap:body use="literal"
					namespace="http://pagopa-api.pagopa.gov.it/nodeForPsp/v2.0.0/" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"
					namespace="http://pagopa-api.pagopa.gov.it/nodeForPsp/v2.0.0/" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="verifyPaymentNotice">
			<soap:operation
				soapAction="http://pagopa-api.pagopa.gov.it/nodeForPsp/v2.0.0/verifyPaymentNotice" />
			<wsdl:input>
				<soap:body use="literal"
					namespace="http://pagopa-api.pagopa.gov.it/nodeForPsp/v2.0.0/" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"
					namespace="http://pagopa-api.pagopa.gov.it/nodeForPsp/v2.0.0/" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="activatePaymentNotice">
			<soap:operation
				soapAction="http://pagopa-api.pagopa.gov.it/nodeForPsp/v2.0.0/activatePaymentNotice" />
			<wsdl:input>
				<soap:body use="literal"
					namespace="http://pagopa-api.pagopa.gov.it/nodeForPsp/v2.0.0/" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"
					namespace="http://pagopa-api.pagopa.gov.it/nodeForPsp/v2.0.0/" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoInviaFlussoRendicontazione">
			<soap:operation
				soapAction="http://pagopa-api.pagopa.gov.it/nodeForPsp/v2.0.0/nodoInviaFlussoRendicontazione" />
			<wsdl:input>
				<soap:body use="literal"
					namespace="http://pagopa-api.pagopa.gov.it/nodeForPsp/v2.0.0/" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"
					namespace="http://pagopa-api.pagopa.gov.it/nodeForPsp/v2.0.0/" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediTemplateInformativaPSP">
			<soap:operation
				soapAction="http://pagopa-api.pagopa.gov.it/nodeForPsp/v2.0.0/nodoChiediTemplateInformativaPSP" />
			<wsdl:input>
				<soap:body use="literal"
					namespace="http://pagopa-api.pagopa.gov.it/nodeForPsp/v2.0.0/" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"
					namespace="http://pagopa-api.pagopa.gov.it/nodeForPsp/v2.0.0/" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediInformativaPA">
			<soap:operation
				soapAction="http://pagopa-api.pagopa.gov.it/nodeForPsp/v2.0.0/nodoChiediInformativaPA" />
			<wsdl:input>
				<soap:body use="literal"
					namespace="http://pagopa-api.pagopa.gov.it/nodeForPsp/v2.0.0/" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"
					namespace="http://pagopa-api.pagopa.gov.it/nodeForPsp/v2.0.0/" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediCatalogoServizi">
			<soap:operation
				soapAction="http://pagopa-api.pagopa.gov.it/nodeForPsp/v2.0.0/nodoChiediCatalogoServizi" />
			<wsdl:input>
				<soap:body use="literal"
					namespace="http://pagopa-api.pagopa.gov.it/nodeForPsp/v2.0.0/" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"
					namespace="http://pagopa-api.pagopa.gov.it/nodeForPsp/v2.0.0/" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="nodeForPspService">
		<wsdl:port binding="tns:nodeForPspBinding"
			name="nodeForPspPort">
			<soap:address
				location="http://pagopa-api.pagopa.gov.it/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
