nodo/nodeForPsp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="nodeForPsp" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:nfpsp="http://pagopa-api.pagopa.gov.it/node/nodeForPsp.xsd" xmlns:tns="http://pagopa-api.pagopa.gov.it/node/nodeForPsp.wsdl" targetNamespace="http://pagopa-api.pagopa.gov.it/node/nodeForPsp.wsdl">

  <wsdl:types>
    <xsd:schema version="1.0.0">
      <xsd:import schemaLocation="nodeForPsp.xsd" namespace="http://pagopa-api.pagopa.gov.it/node/nodeForPsp.xsd" />
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="verifyPaymentNoticeReq">
    <wsdl:part name="requestBody" element="nfpsp:verifyPaymentNoticeReq" />
  </wsdl:message>
  <wsdl:message name="verifyPaymentNoticeRes">
    <wsdl:part name="responseBody" element="nfpsp:verifyPaymentNoticeRes" />
  </wsdl:message>

  <wsdl:message name="activatePaymentNoticeReq">
    <wsdl:part name="requestBody" element="nfpsp:activatePaymentNoticeReq" />
  </wsdl:message>
  <wsdl:message name="activatePaymentNoticeRes">
    <wsdl:part name="responseBody" element="nfpsp:activatePaymentNoticeRes" />
  </wsdl:message>

  <wsdl:message name="handledException">
    <wsdl:part name="fault" element="nfpsp:handledException" />
  </wsdl:message>

  <wsdl:message name="sendPaymentOutcomeReq">
    <wsdl:part name="requestBody" element="nfpsp:sendPaymentOutcomeReq" />
  </wsdl:message>
  <wsdl:message name="sendPaymentOutcomeRes">
    <wsdl:part name="responseBody" element="nfpsp:sendPaymentOutcomeRes" />
  </wsdl:message>

  <wsdl:portType name="nodeForPsp_PortType">
    <wsdl:operation name="verifyPaymentNotice">
      <wsdl:documentation>
Gets Payment Notice Data; a Payment Notice is identified by its QR-CODE data.
            </wsdl:documentation>
      <wsdl:input message="tns:verifyPaymentNoticeReq" wsam:Action="http://pagopa-api.pagopa.gov.it/service/node/nodeForPsp/verifyPaymentNoticeReq" />
      <wsdl:output message="tns:verifyPaymentNoticeRes" wsam:Action="http://pagopa-api.pagopa.gov.it/service/node/nodeForPsp/verifyPaymentNoticeRes" />
      <wsdl:fault message="tns:handledException" name="handledException" />
    </wsdl:operation>
    <wsdl:operation name="activatePaymentNotice">
      <wsdl:documentation>
Request a payment activation, it return a paymentToken.

The amount should be equal to the payment notice amount.
In some cases, Public Administration can allow payment with an amount greater or lesser than the payment notice amount; In such cases, the *paymentNote* attribute should be filled with a note.

The operation supports client idempotency for safely retrying requests without accidentally performing the same operation twice ( or to retrieve missed responses).
The idempontency key works by saving the resulting status code and body of the first request made for any given idempotency key if its status is OK.
Subsequent request with the same key return the same result, except for error codes. 

An idempotency key is a unique value generated by the client which the server uses to recognize subsequent retries of the same request.
How you create unique keys is up to you, but we suggest using a random string with enough entropy to avoid collisions. _(see `stIdempotencyKey` definition for details)_ 
Keys are eligible to be removed from the system automatically after they are at least 24 hours old, and a new request is generated if a key is reused after the original has been pruned.
The idempotency layer compares incoming parameters to those of the original request and errors unless they're the same to prevent accidental misuse.


The Payment token is a unique key with no expiration date, and allow a PSP to start an user payment session. _(see `stPaymentToken` definition for details)_
Until the receipt of a `sendPaymentOutcome` (with the same `paymentToken`), any subsequent request for the same qr-code will be denied.
The sender PSP ( or broker ) is responsable to call an `sendPaymentOutcome`.
            </wsdl:documentation>
      <wsdl:input message="tns:activatePaymentNoticeReq" wsam:Action="http://pagopa-api.pagopa.gov.it/service/node/nodeForPsp/activatePaymentNoticeReq" />
      <wsdl:output message="tns:activatePaymentNoticeRes" wsam:Action="http://pagopa-api.pagopa.gov.it/service/node/nodeForPsp/activatePaymentNoticeRes" />
      <wsdl:fault message="tns:handledException" name="handledException" />
    </wsdl:operation>
    <wsdl:operation name="sendPaymentOutcome">
      <wsdl:documentation>
Close payment session associated with the paymentToken.
The outcome can be positive or negative.

- if **positive**, any payment request related to the same payment notice (via `paymentToken`) will be denied.
- if **negative**, any payment request related to the same payment notice (via `paymentToken`) will be allowed 

The operation use the paymentToken as idempotency key for safely retrying requests without accidentally performing the same operation twice ( or to retrieve missed responses).
The idempotency layer compares incoming parameters to those of the original request and errors unless they're the same to prevent accidental misuse.

PaymentToken are eligibile to be removed from the system according the data retention policy.
            </wsdl:documentation>
      <wsdl:input message="tns:sendPaymentOutcomeReq" wsam:Action="http://pagopa-api.pagopa.gov.it/service/node/nodeForPsp/sendPaymentOutcomeReq" />
      <wsdl:output message="tns:sendPaymentOutcomeRes" wsam:Action="http://pagopa-api.pagopa.gov.it/service/node/nodeForPsp/sendPaymentOutcomeRes" />
      <wsdl:fault message="tns:handledException" name="handledException" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="nodeForPsp_Binding" type="tns:nodeForPsp_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

    <wsdl:operation name="verifyPaymentNotice">
      <soap:operation soapAction="verifyPaymentNotice" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="handledException">
        <soap:fault name="handledException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="activatePaymentNotice">
      <soap:operation soapAction="activatePaymentNotice" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="handledException">
        <soap:fault name="handledException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sendPaymentOutcome">
      <soap:operation soapAction="sendPaymentOutcome" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="handledException">
        <soap:fault name="handledException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="nodeForPsp_Service">
    <wsdl:port name="nodeForPsp_Port" binding="tns:nodeForPsp_Binding">
      <soap:address location="http://pagopa-api.pagopa.gov.it/service/node/nodeForPsp" />
    </wsdl:port>

  </wsdl:service>

</wsdl:definitions>