nodo/nodeForPsp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="nodeForPsp" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:nfpsp="http://pagopa-api.pagopa.gov.it/node/nodeForPsp.xsd" xmlns:tns="http://pagopa-api.pagopa.gov.it/node/nodeForPsp.wsdl" targetNamespace="http://pagopa-api.pagopa.gov.it/node/nodeForPsp.wsdl">

    <wsdl:types>
        <xsd:schema version="1.0.0">
            <xsd:import schemaLocation="nodeForPsp.xsd" namespace="http://pagopa-api.pagopa.gov.it/node/nodeForPsp.xsd" />
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="verifyPaymentNoticeReq">
        <wsdl:part name="requestBody" element="nfpsp:verifyPaymentNoticeReq" />
    </wsdl:message>
    <wsdl:message name="verifyPaymentNoticeRes">
        <wsdl:part name="responseBody" element="nfpsp:verifyPaymentNoticeRes" />
    </wsdl:message>

    <wsdl:message name="activatePaymentNoticeReq">
        <wsdl:part name="requestBody" element="nfpsp:activatePaymentNoticeReq" />
    </wsdl:message>
    <wsdl:message name="activatePaymentNoticeRes">
        <wsdl:part name="responseBody" element="nfpsp:activatePaymentNoticeRes" />
    </wsdl:message>

    <wsdl:message name="sendPaymentOutcomeReq">
        <wsdl:part name="requestBody" element="nfpsp:sendPaymentOutcomeReq" />
    </wsdl:message>
    <wsdl:message name="sendPaymentOutcomeRes">
        <wsdl:part name="responseBody" element="nfpsp:sendPaymentOutcomeRes" />
    </wsdl:message>

    <wsdl:portType name="nodeForPsp_PortType">
        <wsdl:operation name="verifyPaymentNotice">
            <wsdl:documentation>
                Il PSP tramite la primitiva `verifyPaymentNotice` e quindi QR-CODE (codice fiscale, IUV, ...) richiede alla piattaforma, l'avviso di pagamento aggiornato.
                Alla ricezione della response della `verifyPaymentNotice` il PSP non puo' incassare in quanto la posizione non e' bloccata dalla PA, e non ha a disposizione
                il _paymentToken_ necessario relativo alla posizione debitoria.
            </wsdl:documentation>
            <wsdl:input message="tns:verifyPaymentNoticeReq" wsam:Action="http://pagopa-api.pagopa.gov.it/service/node/nodeForPsp/verifyPaymentNoticeReq" />
            <wsdl:output message="tns:verifyPaymentNoticeRes" wsam:Action="http://pagopa-api.pagopa.gov.it/service/node/nodeForPsp/verifyPaymentNoticeRes" />
        </wsdl:operation>
        <wsdl:operation name="activatePaymentNotice">
            <wsdl:documentation>
                Il PSP, tramite la primitiva `activatePaymentNotice`, richiede una sessione di pagamento di un avviso **pagoPA** specificando l' importo e 
                n risposta, la piattaforma genera un token che, di fatto, impedisce ad altri PSP di aprire altre sessioni di pagamento per l' avviso che si sta pagando. Lo stato del pagamento e' posto in `paying`.
            </wsdl:documentation>
            <wsdl:input message="tns:activatePaymentNoticeReq" wsam:Action="http://pagopa-api.pagopa.gov.it/service/node/nodeForPsp/activatePaymentNoticeReq" />
            <wsdl:output message="tns:activatePaymentNoticeRes" wsam:Action="http://pagopa-api.pagopa.gov.it/service/node/nodeForPsp/activatePaymentNoticeRes" />
        </wsdl:operation>
        <wsdl:operation name="sendPaymentOutcome">
            <wsdl:documentation>
                Il PSP effettua l' incasso dell' importo e notifica l' operazione alla piattaforma tramite il servizio `sendPaymentOutcome` specificando :
                - importo Totale incassato
                - importo dell' avviso
                - strumento di pagamento utilizzato 
                - commissioni applicate 
                - (opzionale) identificativo dell' utente che ha effettuato l' operazione
                In risposta alla notifica di incasso, il PSP rilascia uno scontrino all' utente con i dati ottenuti in risposta.
            </wsdl:documentation>
            <wsdl:input message="tns:sendPaymentOutcomeReq" wsam:Action="http://pagopa-api.pagopa.gov.it/service/node/nodeForPsp/sendPaymentOutcomeReq" />
            <wsdl:output message="tns:sendPaymentOutcomeRes" wsam:Action="http://pagopa-api.pagopa.gov.it/service/node/nodeForPsp/sendPaymentOutcomeRes" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="nodeForPsp_Binding" type="tns:nodeForPsp_PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

        <wsdl:operation name="verifyPaymentNotice">
            <soap:operation soapAction="verifyPaymentNotice" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="activatePaymentNotice">
            <soap:operation soapAction="activatePaymentNotice" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sendPaymentOutcome">
            <soap:operation soapAction="sendPaymentOutcome" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="nodeForPsp_Service">
        <wsdl:port name="nodeForPsp_Port" binding="tns:nodeForPsp_Binding">
            <soap:address location="http://pagopa-api.pagopa.gov.it/service/node/nodeForPsp" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>