main/wsdl-schema/scheduler/Scheduler_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			version="1.0.6">
	<xsd:annotation>
		<xsd:documentation>Schedulatore</xsd:documentation>
	</xsd:annotation>
	<xsd:annotation>
		<xsd:documentation/>
	</xsd:annotation>

	<!-- Enumerati -->
	<xsd:simpleType name="resultJob">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="OK"/>
			<xsd:enumeration value="KO"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="resultRun">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="RUNNING"/>
			<xsd:enumeration value="KO"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="resultRtPull">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="RT_ESITO_SCONOSCIUTO_PA" />
			<xsd:enumeration value="RT_ACCETTATA_NODO" />
			<xsd:enumeration value="RT_RIFIUTATA_NODO" />
			<xsd:enumeration value="RT_ACCETTATA_PA" />
			<xsd:enumeration value="RT_RIFIUTATA_PA" />
			<xsd:enumeration value="ERRORE_GENERICO" />
			<xsd:enumeration value="RT_IN_ELABORAZIONE" />
			<xsd:enumeration value="SOLO_INVIO_ACK" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="statoFlusso">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Y"/>
			<xsd:enumeration value="N"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="tipoFlusso">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="PSP"/>
			<xsd:enumeration value="PA"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="tipoQuadratura">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="PA"/>
			<xsd:enumeration value="PSP"/>
			<xsd:enumeration value="INT_PA"/>
			<xsd:enumeration value="INT_PSP"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="tipoRtCrawling">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Veloce"/>
			<xsd:enumeration value="Lento"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="modalitaSchedulazione">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="GIORNALIERA"/>
			<xsd:enumeration value="SETTIMANALE"/>
			<xsd:enumeration value="MENSILE"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- Tipi -->
	<xsd:simpleType name="stText50">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="stText35">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="stText255">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="numeroVersione">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="999999999"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="job">
		<xsd:sequence>
			<xsd:element type="stText50" name="nome" minOccurs="0"/>
			<xsd:element type="xsd:string" name="payload" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="jobResult">
		<xsd:sequence>
			<xsd:element type="stText50" name="id"/>
			<xsd:element type="resultJob" name="result"/>
			<xsd:element type="stText255" name="messaggio" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Oggetti -->

	<xsd:complexType name="result">
		<xsd:sequence>
			<xsd:element type="stText50" name="id"/>
			<xsd:element type="resultRun" name="result"/>
			<xsd:element type="stText255" name="messaggio" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="completeAndScheduleJobs">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element type="jobResult" name="result"/>
				<xsd:element type="job" name="jobToRun" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="inviaElencoServizi">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element type="numeroVersione" name="versione"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="statusUpdater">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element type="numeroVersione" name="versioneCatalogo"/>
				<xsd:element type="statoFlusso" name="statoFlusso"/>
				<xsd:element type="tipoFlusso" name="tipoFlusso"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="inviaElencoServiziWisp">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element type="numeroVersione" name="versione"/>
				<xsd:element type="tipoFlusso" name="tipoFlusso"/>
				<xsd:element type="xsd:string" name="json"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="schedulazioneQuadrature">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element type="stText35" name="identificativo" />
				<xsd:element type="modalitaSchedulazione" name="modalita" />
				<xsd:element type="tipoQuadratura" name="tipo"/>
				<xsd:element type="xsd:dateTime" name="lastDataQuadrata"/>
				<xsd:element type="xsd:boolean" name="typeInizioGiornata"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="esitoRtPull">
		<xsd:sequence>
			<xsd:element name="esito" type="resultRtPull" />
			<xsd:element name="ragione" minOccurs="0" type="stText255" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="esitiRtPull">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="esiti" type="esitoRtPull" minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="avvioRtCrawling">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="tipo" type="tipoRtCrawling" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="avvioRtDequeuing">
		<xsd:complexType>
			<xsd:sequence />
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
