catalogo-servizi/Cie_1_0_0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ta="http://PuntoAccessoPSP.spcoop.gov.it/pagamentoCIE"
            targetNamespace="http://PuntoAccessoPSP.spcoop.gov.it/pagamentoCIE"
            elementFormDefault="qualified">

    <xsd:simpleType name="stText50">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="50"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stCFPersona">
        <xsd:restriction base="xsd:string">
            <xsd:length value="16"/>
            <xsd:pattern value="[A-Z]{6}[0-9LMNPQRSTUV]{2}[ABCDEHLMPRST][0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{3}[A-Z]"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stCFEnte">
        <xsd:restriction base="xsd:string">
            <xsd:length value="11"/>
            <xsd:pattern value="[0-9]{11}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stTipoCausale">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/><!-- SMARRIMENTO -->
            <xsd:enumeration value="2"/><!-- FURTO -->
            <xsd:enumeration value="4"/><!-- DETERIORAMENTO -->
            <xsd:enumeration value="7"/><!-- RINNOVO PER C.I. SCADUTA -->
            <xsd:enumeration value="9"/><!-- PRIMA EMISSIONE -->
            <xsd:enumeration value="10"/><!-- RINNOVO C.I. IN SCADENZA / C.I.C. e CIE V.2-->
            <xsd:enumeration value="11"/><!-- VARIAZIONI ANAGRAFICHE -->
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="ctIntestatario">
        <xsd:sequence>
            <xsd:element name="codiceFiscaleIntestatario" type="ta:stCFPersona" minOccurs="1"/>
            <xsd:element name="denominazioneIntestatario" type="ta:stText50" minOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctPagamentoCIE">
        <xsd:sequence>
            <xsd:element name="codiceCausale" type="ta:stTipoCausale" minOccurs="1"/>
            <xsd:element name="codiceFiscaleComune" type="ta:stCFEnte" minOccurs="1"/>
            <xsd:element name="intestatario" type="ta:ctIntestatario" minOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Wrapper elements -->
    <xsd:element name="pagamentoCIE" type="ta:ctPagamentoCIE"/>
</xsd:schema>