catalogo-servizi/Cup_1_0_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:cup="http://PuntoAccessoPSP.spcoop.gov.it/Cup"
            targetNamespace="http://PuntoAccessoPSP.spcoop.gov.it/Cup">

    <xsd:simpleType name="stFiscalCode">
        <xsd:restriction base="xsd:string">
            <xsd:length value="11" />
            <xsd:pattern value="[0-9]{11}" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stAmount">
        <xsd:restriction base="xsd:decimal">
            <xsd:pattern value="\d+\.\d{2}" />
            <xsd:maxInclusive value="999999999.99" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stCatastaleCode">
        <xsd:restriction base="xsd:string">
            <xsd:length value="4"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stIstatCode">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="6"/>
        </xsd:restriction>
    </xsd:simpleType>

	<xsd:simpleType name="stEMail">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[a-zA-Z0-9_\.\+\-]+@[a-zA-Z0-9\-]+(\.[a-zA-Z0-9\-]+)*" />
            <xsd:maxLength value="256" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stText20">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="20" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stText140">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="140" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stText70">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="70" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="ctPagamentoCup">
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="organizationFiscalCode" type="cup:stFiscalCode" />
                <xsd:element name="istatCode" type="cup:stIstatCode" />
                <xsd:element name="catastaleCode" type="cup:stCatastaleCode" />
            </xsd:choice>

            <xsd:element name="companyName" type="cup:stText140" />
            <xsd:element name="debtorFiscalCode" type="cup:stText20" />
            <xsd:element name="debtorFullName" type="cup:stText70"  />
            <xsd:element name="debtorEmail" type="cup:stEMail" minOccurs="0" />
            <xsd:element name="amount" type="cup:stAmount" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="pagamentoCup" type="cup:ctPagamentoCup" />

</xsd:schema>