cd/CdPerNodo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Questo WSDL rappresenta l'interfaccia esposta da CD -->
<wsdl:definitions
        name="CD"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsp="http://www.w3.org/ns/ws-policy"
        xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:ppt="http://ws.pagamenti.telematici.gov/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:tns="http://PuntoAccessoCD.spcoop.gov.it"
        targetNamespace="http://PuntoAccessoCD.spcoop.gov.it">

    <!-- data type definitions... -->
    <wsdl:types>
        <xsd:schema
                version="2.1"
                targetNamespace="http://ws.pagamenti.telematici.gov/">

            <!-- Wrapper Elements -->
            <xsd:element name="cdInfoWisp" type="ppt:ctCdInfoWisp"/>
            <xsd:element name="cdInfoWispResponse" type="ppt:ctCdInfoWispResponse"/>

            <xsd:complexType name="ctCdInfoWisp">
                <xsd:sequence>
                    <xsd:element name="identificativoDominio" type="ppt:stText35"/>
                    <xsd:element name="identificativoUnivocoVersamento" type="ppt:stText35"/>
                    <xsd:element name="codiceContestoPagamento" type="ppt:stText35"/>
                    <xsd:element name="idPagamento" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="ctCdInfoWispResponse">
                <xsd:complexContent>
                    <xsd:extension base="ppt:risposta">
                        <xsd:sequence>
                            <xsd:element name="esito" type="xsd:string" minOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>

            <xsd:simpleType name="stText35">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1" />
                    <xsd:maxLength value="35" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="risposta">
                <xsd:sequence>
                    <xsd:element name="fault" type="ppt:ctFaultBean" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="ctFaultBean">
                <xsd:sequence>
                    <xsd:element name="faultCode" type="xsd:string" />
                    <xsd:element name="faultString" type="xsd:string" />
                    <xsd:element name="id" type="xsd:string" />
                    <xsd:element name="description" type="xsd:string" minOccurs="0" />
                    <xsd:element name="serial" type="xsd:int" minOccurs="0" />
                    <xsd:element name="originalFaultCode" type="xsd:string"  minOccurs="0"  />
                    <xsd:element name="originalFaultString" type="xsd:string"  minOccurs="0"  />
                    <xsd:element name="originalDescription" type="xsd:string" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>

    <!-- definition of the data being communicated... -->
    <wsdl:message name="cdInfoWisp">
        <wsdl:part name="bodyRequest" element="ppt:cdInfoWisp" />
    </wsdl:message>
    <wsdl:message name="cdInfoWispResponse">
        <wsdl:part name="bodyResponse" element="ppt:cdInfoWispResponse" />
    </wsdl:message>

    <!-- set of operations... -->
    <wsdl:portType name="FespCdPortType">
        <wsdl:operation name="cdInfoWisp">
            <wsdl:input message="tns:cdInfoWisp" wsam:Action="http://nodoPSP.fesp.it/ws/FespPsp/PSP/cdInfoWisp"></wsdl:input>
            <wsdl:output message="tns:cdInfoWispResponse" wsam:Action="http://nodoPSP.fesp.it/ws/FespPsp/PSP/cdInfoWispRisposta"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <!-- protocol and data format specification... -->
    <wsdl:binding name="FespCdBinding" type="tns:FespCdPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="cdInfoWisp">
            <soap:operation soapAction="cdInfoWisp" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!-- definition of a service...-->
    <wsdl:service name="FespCdService">
        <wsdl:port name="FespCdPortType" binding="tns:FespCdBinding">
            <soap:address location="http://PuntoAccessoCD.spcoop.gov.it/" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>


