psp/pspForNode.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://pagopa-api.pagopa.gov.it/psp/pspForNode.xsd" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" targetNamespace="http://pagopa-api.pagopa.gov.it/psp/pspForNode.xsd">

  <!--Simple type-->
  <xsd:simpleType name="stText6">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="6" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stText35">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="35" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stText140">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="140" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stIdTransfer">
    <xsd:restriction base="xsd:int">
      <xsd:enumeration value="1" />
      <xsd:enumeration value="2" />
      <xsd:enumeration value="3" />
      <xsd:enumeration value="4" />
      <xsd:enumeration value="5" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stPaymentToken">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="35" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stIBAN">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stUUID">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stAmount">
    <xsd:restriction base="xsd:decimal">
      <xsd:pattern value="\d+\.\d{2}" />
      <xsd:maxInclusive value="999999999.99" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stFiscalCodePA">
    <xsd:restriction base="xsd:string">
      <xsd:length value="11" />
      <xsd:pattern value="[0-9]{11}" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stOutcome">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="OK" />
      <xsd:enumeration value="KO" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stISODate">
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>

  <xsd:simpleType name="stISODateTime">
    <xsd:restriction base="xsd:dateTime" />
  </xsd:simpleType>

  <!--Complex type-->
  <xsd:complexType name="ctResponse">
    <xsd:sequence>
      <xsd:element name="outcome" type="tns:stOutcome" />
      <xsd:element name="fault" type="tns:ctFaultBean" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ctFaultBean">
    <xsd:sequence>
      <xsd:element name="faultCode" type="xsd:string" />
      <xsd:element name="faultString" type="xsd:string" />
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="description" type="xsd:string" minOccurs="0" />
      <xsd:element name="serial" type="xsd:int" minOccurs="0" />
      <xsd:element name="originalFaultCode" type="xsd:string" minOccurs="0" />
      <xsd:element name="originalFaultString" type="xsd:string" minOccurs="0" />
      <xsd:element name="originalDescription" type="xsd:string" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ctTransferPSP">
    <xsd:sequence>
      <xsd:element name="idTransfer" type="tns:stIdTransfer" />
      <xsd:element name="transferAmount" type="tns:stAmount" />
      <xsd:element name="fiscalCodePA" type="tns:stFiscalCodePA" />
      <xsd:element name="IBAN" type="tns:stIBAN" />
      <xsd:element name="remittanceInformation" type="tns:stText140" />
      <xsd:element name="metadata" type="tns:ctMetadata" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ctTransferListPSP">
    <xsd:sequence>
      <xsd:element name="transfer" type="tns:ctTransferPSP" maxOccurs="5" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ctCreditCardPayment">
    <xsd:sequence>
      <xsd:element name="rrn" type="xsd:string" />
      <xsd:element name="outcomePaymentGateway" type="xsd:string" /> <!--esitoTransazioneCarta -->
      <xsd:element name="totalAmount" type="tns:stAmount" /> <!--fee + debtAmount -->
      <xsd:element name="fee" type="tns:stAmount" />
      <xsd:element name="timestampOperation" type="tns:stISODateTime" /> <!--timestampOperazione -->
      <xsd:element name="authorizationCode" type="tns:stText6" /> <!--codiceAutorizzativo -->
      <xsd:element name="paymentGateway" type="tns:stText35" minOccurs="0"/> <!-- for future use -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ctPaypalPayment">
    <xsd:sequence>
      <xsd:element name="transactionId" type="xsd:string" /> <!-- identificativo univoco della transazione sulla piattafoma pagoPA -->
      <xsd:element name="pspTransactionId" type="xsd:string" /> <!-- identificativo univoco esterno , generato dal servizio esterno al PSP -->
      <xsd:element name="totalAmount" type="tns:stAmount" /> <!--fee + debtAmount -->
      <xsd:element name="fee" type="tns:stAmount" />
      <xsd:element name="timestampOperation" type="tns:stISODateTime" /> <!--timestampOperazione -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ctBancomatpayPayment">
    <xsd:sequence>
      <xsd:element name="transactionId" type="xsd:string" /> <!--transactionId same value of idPagoPa input  parameter in richiestaPagamentoPagopa  request  -->
      <xsd:element name="outcomePaymentGateway" type="xsd:string" /> <!--  same value of esitoPagamento input parameter  in ResponseInserimentoRichiestaPagamentoPagoPa request-->
      <xsd:element name="totalAmount" type="tns:stAmount" /> <!--fee + debtAmount -->
      <xsd:element name="fee" type="tns:stAmount" />
      <xsd:element name="timestampOperation" type="tns:stISODateTime" /> <!--timestampOperazione -->
      <xsd:element name="authorizationCode" type="tns:stText6" /> <!--  same value of endToEndId input parameter in in ResponseInserimentoRichiestaPagamentoPagoPa request -->
      <xsd:element name="paymentGateway" type="tns:stText35" minOccurs="0"/> <!-- for future use -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ctMapEntry">
    <xsd:sequence>
      <xsd:element name="key" type="tns:stText140" />
      <xsd:element name="value" type="tns:stText140" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ctMetadata">
    <xsd:sequence>
      <xsd:element name="mapEntry" type="tns:ctMapEntry" minOccurs="1" maxOccurs="10"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ctAdditionalPaymentInformations">
    <xsd:sequence>
      <xsd:element name="metadata" type="tns:ctMetadata" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ctPayment">
    <xsd:sequence>
      <xsd:element name="paymentToken"
                   type="tns:stPaymentToken" />
      <xsd:element name="paymentDescription"
                   type="tns:stText140" />
      <xsd:element name="fiscalCodePA"
                   type="tns:stFiscalCodePA" />
      <xsd:element name="companyName" type="tns:stText140" />
      <xsd:element name="officeName" type="tns:stText140"
                   minOccurs="0" />
      <xsd:element name="creditorReferenceId"
                   type="tns:stText35" />
      <xsd:element name="debtAmount" type="tns:stAmount" />
      <xsd:element name="transferList"
                   type="tns:ctTransferListPSP" />
      <xsd:element name="metadata" type="tns:ctMetadata"
                   minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ctPaymentList">
    <xsd:sequence>
      <xsd:element name="transfer" type="tns:ctPayment"
                   maxOccurs="5" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="pspNotifyPaymentReq">
    <xsd:sequence>
      <xsd:element name="idPSP" type="tns:stText35" />
      <xsd:element name="idBrokerPSP" type="tns:stText35" />
      <xsd:element name="idChannel" type="tns:stText35" />
      <xsd:element name="paymentToken" type="tns:stPaymentToken" />
      <xsd:element name="paymentDescription" type="tns:stText140" />
      <xsd:element name="fiscalCodePA" type="tns:stFiscalCodePA" />
      <xsd:element name="companyName" type="tns:stText140" />
      <xsd:element name="officeName" type="tns:stText140" minOccurs="0" />
      <xsd:element name="creditorReferenceId" type="tns:stText35"/>
      <xsd:element name="debtAmount" type="tns:stAmount" />
      <xsd:element name="transferList" type="tns:ctTransferListPSP" />
      <xsd:choice>
        <xsd:element name="creditCardPayment" type="tns:ctCreditCardPayment"/>
        <xsd:element name="paypalPayment" type="tns:ctPaypalPayment"/>
        <xsd:element name="bancomatpayPayment" type="tns:ctBancomatpayPayment"/>
        <xsd:element name="additionalPaymentInformations" type="tns:ctAdditionalPaymentInformations" />
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="pspNotifyPaymentV2">
    <xsd:sequence>
      <xsd:element name="idPSP" type="tns:stText35" />
      <xsd:element name="idBrokerPSP" type="tns:stText35" />
      <xsd:element name="idChannel" type="tns:stText35" />
      <xsd:element name="pspTransactionId" type="tns:stText35" />
      <xsd:element name="totalAmount" type="tns:stAmount" />
      <xsd:element name="fee" type="tns:stAmount" />
      <xsd:element name="timestampOperation"
                   type="tns:stISODateTime" />
      <xsd:element name="paymentList"
                   type="tns:ctPaymentList" />
      <xsd:element name="additionalPaymentInformations"
                   type="tns:ctAdditionalPaymentInformations" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="pspNotifyPaymentV2Response">
    <xsd:complexContent>
      <xsd:extension base="tns:ctResponse" />
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="pspNotifyPaymentRes">
    <xsd:complexContent>
      <xsd:extension base="tns:ctResponse"/>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Wrapper Elements -->
  <xsd:element name="pspNotifyPaymentReq" type="tns:pspNotifyPaymentReq" />
  <xsd:element name="pspNotifyPaymentRes" type="tns:pspNotifyPaymentRes" />
  <xsd:element name="pspNotifyPaymentV2" type="tns:pspNotifyPaymentV2" />
  <xsd:element name="pspNotifyPaymentV2Res" type="tns:pspNotifyPaymentV2Response" />
</xsd:schema>