psp/PspPerNodo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Questo WSDL rappresenta l'interfaccia esposta dal PSP -->
<wsdl:definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ppt="http://ws.pagamenti.telematici.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:pay_j="http://www.cnipa.gov.it/schemas/2010/Pagamenti/Ack_1_0/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://PuntoAccessoPSP.spcoop.gov.it" name="PSP" targetNamespace="http://PuntoAccessoPSP.spcoop.gov.it">
    <wsdl:types>
        <xsd:schema version="2.1" targetNamespace="http://ws.pagamenti.telematici.gov/">
            <xsd:import schemaLocation="ACK_PagamentiTelematici_6_0_1.xsd" namespace="http://www.cnipa.gov.it/schemas/2010/Pagamenti/Ack_1_0/" />

            <xsd:simpleType name="stText35">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1" />
                    <xsd:maxLength value="35" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="stText6">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="6" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="stImporto">
                <xsd:restriction base="xsd:decimal">
                    <xsd:minInclusive value="0.01" />
                    <xsd:maxInclusive value="999999999.99" />
                    <xsd:pattern value="\d+\.\d{2}" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="stModelloPagamento">
                <xsd:restriction base="xsd:int">
                    <xsd:enumeration value="0" /> <!-- Modello di pagamento immediato (con redirezione) -->
                    <xsd:enumeration value="1" /> <!-- Modello di pagamento immediato multibeneficiario -->
                    <xsd:enumeration value="2" /> <!-- Modello di pagamento differito -->
                    <xsd:enumeration value="4" /> <!--- Modello di pagamento attivato presso il psp -->
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="stConvenzione">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="5" />
                    <xsd:maxLength value="35" />
                </xsd:restriction>
            </xsd:simpleType>

            <!-- Wrapper Elements -->
            <xsd:element name="pspInviaRPT" type="ppt:pspInviaRPT" />
            <xsd:element name="pspInviaRPTResponse" type="ppt:pspInviaRPTResponse" />
            <xsd:element name="pspInviaCarrelloRPT" type="ppt:pspInviaCarrelloRPT" />
            <xsd:element name="pspInviaCarrelloRPTResponse" type="ppt:pspInviaCarrelloRPTResponse" />
            <xsd:element name="pspInviaCarrelloRPTCarte" type="ppt:pspInviaCarrelloRPTCarte" />
            <xsd:element name="pspInviaCarrelloRPTCarteResponse" type="ppt:pspInviaCarrelloRPTCarteResponse" />
            <xsd:element name="pspInviaRichiestaStorno" type="ppt:pspInviaRichiestaStorno" />
            <xsd:element name="pspInviaRichiestaStornoResponse" type="ppt:pspInviaRichiestaStornoResponse" />
            <xsd:element name="pspInviaRispostaRevoca" type="ppt:pspInviaRispostaRevoca" />
            <xsd:element name="pspInviaRispostaRevocaResponse" type="ppt:pspInviaRispostaRevocaResponse" />
            <xsd:element name="pspChiediRT" type="ppt:pspChiediRT" />
            <xsd:element name="pspChiediRTResponse" type="ppt:pspChiediRTResponse" />
            <xsd:element name="pspInviaAckRT" type="ppt:pspInviaAckRT" />
            <xsd:element name="pspInviaAckRTResponse" type="ppt:pspInviaAckRTResponse" />
            <xsd:element name="pspChiediAvanzamentoRPT" type="ppt:pspChiediAvanzamentoRPT" />
            <xsd:element name="pspChiediAvanzamentoRPTResponse" type="ppt:pspChiediAvanzamentoRPTResponse" />
            <xsd:element name="pspChiediListaRT" type="ppt:pspChiediListaRT" />
            <xsd:element name="pspChiediListaRTResponse" type="ppt:pspChiediListaRTResponse" />
            <xsd:element name="pspNotificaCancellazioneRPT" type="ppt:pspNotificaCancellazioneRPT" />
            <xsd:element name="pspNotificaCancellazioneRPTResponse" type="ppt:pspNotificaCancellazioneRPTResponse" />
            <!-- Element Definition -->
            <xsd:complexType name="pspInviaRPT">
                <xsd:sequence>
                    <xsd:element name="identificativoDominio" type="ppt:stText35" />
                    <xsd:element name="identificativoPSP" type="ppt:stText35" minOccurs="0" />
                    <xsd:element name="identificativoIntermediarioPSP" type="ppt:stText35" minOccurs="0" />
                    <xsd:element name="identificativoCanale" type="ppt:stText35" minOccurs="0" />
                    <xsd:element name="modelloPagamento" type="ppt:stModelloPagamento" minOccurs="0" />
                    <xsd:element name="elementoListaRPT" type="ppt:tipoElementoListaRPT" minOccurs="0" maxOccurs="unbounded" nillable="true" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="pspInviaRPTResponse">
                <xsd:sequence>
                    <xsd:element name="pspInviaRPTResponse" type="ppt:esitoPspInviaRPT" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="esitoPspInviaRPT">
                <xsd:sequence>
                    <xsd:element name="esitoComplessivoOperazione" type="xsd:string" />
                    <xsd:element name="identificativoCarrello" type="ppt:stText35" minOccurs="0" />
                    <xsd:element name="parametriPagamentoImmediato" type="xsd:string" minOccurs="0" />
                    <xsd:element name="listaErroriRPT" type="ppt:listaErroriRPT" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="basePspInviaCarrelloRPT">
                <xsd:sequence>
                    <xsd:element name="identificativoPSP" type="ppt:stText35" minOccurs="1" />
                    <xsd:element name="identificativoIntermediarioPSP" type="ppt:stText35" minOccurs="1" />
                    <xsd:element name="identificativoCanale" type="ppt:stText35" minOccurs="1" />
                    <xsd:element name="modelloPagamento" type="ppt:stModelloPagamento" minOccurs="1" />
                    <xsd:element name="parametriProfiloPagamento" type="xsd:string" minOccurs="0" />
                    <xsd:element name="codiceConvenzione" type="ppt:stConvenzione" minOccurs="0" />
                    <xsd:element name="listaRPT" type="ppt:tipoListaRPT" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="pspInviaCarrelloRPT">
                <xsd:complexContent>
                    <xsd:extension base="ppt:basePspInviaCarrelloRPT"></xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="pspInviaCarrelloRPTCarte">
                <xsd:complexContent>
                    <xsd:extension base="ppt:basePspInviaCarrelloRPT">
                        <xsd:sequence>
                            <xsd:element name="rrn" type="xsd:string" />
                            <xsd:element name="esitoTransazioneCarta" type="xsd:string" />
                            <xsd:element name="importoTotalePagato" type="ppt:stImporto" />
                            <xsd:element name="timestampOperazione" type="pay_j:stISODateTime" />
                            <xsd:element name="codiceAutorizzativo" type="ppt:stText6" />
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="tipoListaRPT">
                <xsd:sequence>
                    <xsd:element name="elementoListaCarrelloRPT" type="ppt:tipoElementoListaCarrelloRPT" minOccurs="1" maxOccurs="unbounded" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="pspInviaCarrelloRPTResponse">
                <xsd:sequence>
                    <xsd:element name="pspInviaCarrelloRPTResponse" type="ppt:esitoPspInviaCarrelloRPT" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="pspInviaCarrelloRPTCarteResponse">
                <xsd:complexContent>
                    <xsd:extension base="ppt:pspInviaCarrelloRPTResponse" />
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="esitoPspInviaCarrelloRPT">
                <xsd:complexContent>
                    <xsd:extension base="ppt:risposta">
                        <xsd:sequence>
                            <xsd:element name="esitoComplessivoOperazione" type="xsd:string" />
                            <xsd:element name="identificativoCarrello" type="ppt:stText35" minOccurs="0" />
                            <xsd:element name="parametriPagamentoImmediato" type="xsd:string" minOccurs="0" />
                            <xsd:element name="listaErroriRPT" type="ppt:listaErroriRPT" minOccurs="0" />
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="risposta">
                <xsd:sequence>
                    <xsd:element name="fault" type="ppt:faultBean" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="faultBean">
                <xsd:sequence>
                    <xsd:element name="faultCode" type="xsd:string" />
                    <xsd:element name="faultString" type="xsd:string" />
                    <xsd:element name="id" type="xsd:string" />
                    <xsd:element name="description" type="xsd:string" minOccurs="0" />
                    <xsd:element name="serial" type="xsd:int" minOccurs="0" />
                    <xsd:element name="originalFaultCode" type="xsd:string" minOccurs="0" />
                    <xsd:element name="originalFaultString" type="xsd:string" minOccurs="0" />
                    <xsd:element name="originalDescription" type="xsd:string" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="pspInviaRichiestaStorno">
                <xsd:sequence>
                    <xsd:element name="identificativoDominio" type="ppt:stText35" />
                    <xsd:element name="identificativoUnivocoVersamento" type="ppt:stText35" />
                    <xsd:element name="codiceContestoPagamento" type="ppt:stText35" />
                    <xsd:element name="rr" type="xsd:base64Binary" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="pspInviaRichiestaStornoResponse">
                <xsd:sequence>
                    <xsd:element name="pspInviaRichiestaStornoResponse" type="ppt:tipoInviaRichiestaStornoResponse" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="tipoInviaRichiestaStornoResponse">
                <xsd:complexContent>
                    <xsd:extension base="ppt:risposta">
                        <xsd:sequence>
                            <xsd:element name="esito" type="xsd:string" minOccurs="1" />
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="pspInviaRispostaRevoca">
                <xsd:sequence>
                    <xsd:element name="identificativoDominio" type="ppt:stText35" />
                    <xsd:element name="identificativoUnivocoVersamento" type="ppt:stText35" />
                    <xsd:element name="codiceContestoPagamento" type="ppt:stText35" />
                    <xsd:element name="er" type="xsd:base64Binary" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="pspInviaRispostaRevocaResponse">
                <xsd:sequence>
                    <xsd:element name="pspInviaRispostaRevocaResponse" type="ppt:tipoInviaRispostaRevocaResponse" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="tipoInviaRispostaRevocaResponse">
                <xsd:complexContent>
                    <xsd:extension base="ppt:risposta">
                        <xsd:sequence>
                            <xsd:element name="esito" type="xsd:string" minOccurs="1" />
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="pspChiediRT">
                <xsd:sequence>
                    <xsd:element name="identificativoDominio" type="ppt:stText35" />
                    <xsd:element name="identificativoUnivocoVersamento" type="ppt:stText35" />
                    <xsd:element name="codiceContestoPagamento" type="ppt:stText35" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="pspChiediRTResponse">
                <xsd:sequence>
                    <xsd:element name="pspChiediRTResponse" type="ppt:valoreRT" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="valoreRT">
                <xsd:complexContent>
                    <xsd:extension base="ppt:risposta">
                        <xsd:sequence>
                            <xsd:element name="tipoFirma" type="xsd:string" minOccurs="0" />
                            <xsd:element name="rt" type="xsd:base64Binary" minOccurs="0" />
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="pspInviaAckRT">
                <xsd:sequence>
                    <xsd:element name="identificativoDominio" type="ppt:stText35" />
                    <xsd:element name="identificativoUnivocoVersamento" type="ppt:stText35" />
                    <xsd:element name="codiceContestoPagamento" type="ppt:stText35" />
                    <xsd:element name="ackRT" type="pay_j:ctMessaggioDiAcknowledgement" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="pspInviaAckRTResponse">
                <xsd:sequence>
                    <xsd:element name="pspInviaAckRTResponse" type="ppt:tipoInviaAckRTResponse" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="tipoInviaAckRTResponse">
                <xsd:complexContent>
                    <xsd:extension base="ppt:risposta">
                        <xsd:sequence>
                            <xsd:element name="esito" type="xsd:string" minOccurs="1" />
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="pspChiediAvanzamentoRPT">
                <xsd:sequence>
                    <xsd:element name="identificativoDominio" type="ppt:stText35" />
                    <xsd:element name="identificativoUnivocoVersamento" type="ppt:stText35" />
                    <xsd:element name="codiceContestoPagamento" type="ppt:stText35" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="pspChiediAvanzamentoRPTResponse">
                <xsd:sequence>
                    <xsd:element name="pspChiediAvanzamentoRPTResponse" type="ppt:valoreAvanzamentoRPT" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="valoreAvanzamentoRPT">
                <xsd:complexContent>
                    <xsd:extension base="ppt:risposta">
                        <xsd:sequence>
                            <xsd:element name="value" type="xsd:string" minOccurs="0" />
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="pspChiediListaRT">
                <xsd:sequence>
                    <xsd:element name="identificativoRichiedente" type="ppt:stText35" />
                    <xsd:element name="identificativoIntermediarioPSP" type="ppt:stText35" minOccurs="0" />
                    <xsd:element name="identificativoCanale" type="ppt:stText35" minOccurs="0" />
                    <xsd:element name="modelloPagamento" type="ppt:stModelloPagamento" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="pspChiediListaRTResponse">
                <xsd:sequence>
                    <xsd:element name="pspChiediListaRTResponse" type="ppt:chiediListaRTResponse" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="chiediListaRTResponse">
                <xsd:complexContent>
                    <xsd:extension base="ppt:risposta">
                        <xsd:sequence>
                            <xsd:element name="elementoListaRTResponse" type="ppt:valoreListaRT" minOccurs="0" maxOccurs="unbounded" nillable="true" />
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="valoreListaRT">
                <xsd:sequence>
                    <xsd:element name="identificativoDominio" type="ppt:stText35" />
                    <xsd:element name="identificativoUnivocoVersamento" type="ppt:stText35" />
                    <xsd:element name="codiceContestoPagamento" type="ppt:stText35" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="tipoElementoListaRPT">
                <xsd:sequence>
                    <xsd:element name="identificativoUnivocoVersamento" type="ppt:stText35" />
                    <xsd:element name="codiceContestoPagamento" type="ppt:stText35" />
                    <xsd:element name="parametriProfiloPagamento" type="xsd:string" minOccurs="0" />
                    <xsd:element name="tipoFirma" type="xsd:string" minOccurs="0" />
                    <xsd:element name="rpt" type="xsd:base64Binary" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="tipoElementoListaCarrelloRPT">
                <xsd:sequence>
                    <xsd:element name="identificativoDominio" type="ppt:stText35" />
                    <xsd:element name="identificativoUnivocoVersamento" type="ppt:stText35" />
                    <xsd:element name="codiceContestoPagamento" type="ppt:stText35" />
                    <xsd:element name="tipoFirma" type="xsd:string" minOccurs="0" />
                    <xsd:element name="rpt" type="xsd:base64Binary" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="listaErroriRPT">
                <xsd:sequence>
                    <xsd:element name="fault" type="ppt:faultBean" minOccurs="0" maxOccurs="unbounded" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="pspNotificaCancellazioneRPT">
                <xsd:sequence>
                    <xsd:element name="identificativoDominio" type="ppt:stText35" />
                    <xsd:element name="identificativoUnivocoVersamento" type="ppt:stText35" />
                    <xsd:element name="codiceContestoPagamento" type="ppt:stText35" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="pspNotificaCancellazioneRPTResponse">
                <xsd:sequence>
                    <xsd:element name="pspNotificaCancellazioneRPTResponse" type="ppt:valoreNotificaCancellazioneRPT" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="valoreNotificaCancellazioneRPT">
                <xsd:complexContent>
                    <xsd:extension base="ppt:risposta">
                        <xsd:sequence>
                            <xsd:element name="esito" type="xsd:string" minOccurs="1" />
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="pspInviaRPT">
        <wsdl:part name="bodyRequest" element="ppt:pspInviaRPT" />
    </wsdl:message>
    <wsdl:message name="pspInviaRPTResponse">
        <wsdl:part name="bodyResponse" element="ppt:pspInviaRPTResponse" />
    </wsdl:message>
    <wsdl:message name="pspInviaCarrelloRPT">
        <wsdl:part name="bodyRequest" element="ppt:pspInviaCarrelloRPT" />
    </wsdl:message>
    <wsdl:message name="pspInviaCarrelloRPTCarte">
        <wsdl:part name="bodyRequest" element="ppt:pspInviaCarrelloRPTCarte" />
    </wsdl:message>
    <wsdl:message name="pspInviaCarrelloRPTResponse">
        <wsdl:part name="bodyResponse" element="ppt:pspInviaCarrelloRPTResponse" />
    </wsdl:message>
    <wsdl:message name="pspInviaCarrelloRPTCarteResponse">
        <wsdl:part name="bodyResponse" element="ppt:pspInviaCarrelloRPTCarteResponse" />
    </wsdl:message>
    <wsdl:message name="pspChiediRT">
        <wsdl:part name="bodyRequest" element="ppt:pspChiediRT" />
    </wsdl:message>
    <wsdl:message name="pspChiediRTResponse">
        <wsdl:part name="bodyResponse" element="ppt:pspChiediRTResponse" />
    </wsdl:message>
    <wsdl:message name="pspInviaAckRT">
        <wsdl:part name="bodyRequest" element="ppt:pspInviaAckRT" />
    </wsdl:message>
    <wsdl:message name="pspInviaAckRTResponse">
        <wsdl:part name="bodyResponse" element="ppt:pspInviaAckRTResponse" />
    </wsdl:message>
    <wsdl:message name="pspChiediAvanzamentoRPT">
        <wsdl:part name="bodyRequest" element="ppt:pspChiediAvanzamentoRPT" />
    </wsdl:message>
    <wsdl:message name="pspChiediAvanzamentoRPTResponse">
        <wsdl:part name="bodyResponse" element="ppt:pspChiediAvanzamentoRPTResponse" />
    </wsdl:message>
    <wsdl:message name="pspChiediListaRT">
        <wsdl:part name="bodyRequest" element="ppt:pspChiediListaRT" />
    </wsdl:message>
    <wsdl:message name="pspChiediListaRTResponse">
        <wsdl:part name="bodyResponse" element="ppt:pspChiediListaRTResponse" />
    </wsdl:message>
    <wsdl:message name="pspNotificaCancellazioneRPT">
        <wsdl:part name="bodyRequest" element="ppt:pspNotificaCancellazioneRPT"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="pspNotificaCancellazioneRPTResponse">
        <wsdl:part name="bodyResponse" element="ppt:pspNotificaCancellazioneRPTResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="pspInviaRichiestaStorno">
        <wsdl:part name="bodyRequest" element="ppt:pspInviaRichiestaStorno"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="pspInviaRichiestaStornoResponse">
        <wsdl:part name="bodyResponse" element="ppt:pspInviaRichiestaStornoResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="pspInviaRispostaRevoca">
        <wsdl:part name="bodyRequest" element="ppt:pspInviaRispostaRevoca"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="pspInviaRispostaRevocaResponse">
        <wsdl:part name="bodyResponse" element="ppt:pspInviaRispostaRevocaResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="FespPsp">
        <wsdl:operation name="pspInviaRPT">
            <wsdl:input message="tns:pspInviaRPT" wsam:Action="http://nodoPSP.fesp.it/ws/FespPsp/PSP/pspInviaRPT" />
            <wsdl:output message="tns:pspInviaRPTResponse" wsam:Action="http://nodoPSP.fesp.it/ws/FespPsp/PSP/pspInviaRPTRisposta" />
        </wsdl:operation>
        <wsdl:operation name="pspInviaCarrelloRPT">
            <wsdl:input message="tns:pspInviaCarrelloRPT" wsam:Action="http://nodoPSP.fesp.it/ws/FespPsp/PSP/pspInviaCarrelloRPT" />
            <wsdl:output message="tns:pspInviaCarrelloRPTResponse" wsam:Action="http://nodoPSP.fesp.it/ws/FespPsp/PSP/pspInviaCarrelloRPTRisposta" />
        </wsdl:operation>
        <wsdl:operation name="pspInviaCarrelloRPTCarte">
            <wsdl:input message="tns:pspInviaCarrelloRPTCarte" wsam:Action="http://nodoPSP.fesp.it/ws/FespPsp/PSP/pspInviaCarrelloRPTCarte" />
            <wsdl:output message="tns:pspInviaCarrelloRPTCarteResponse" wsam:Action="http://nodoPSP.fesp.it/ws/FespPsp/PSP/pspInviaCarrelloRPTCarteRisposta" />
        </wsdl:operation>
        <wsdl:operation name="pspChiediRT">
            <wsdl:input message="tns:pspChiediRT" wsam:Action="http://nodoPSP.fesp.it/ws/FespPsp/PSP/pspChiediRT" />
            <wsdl:output message="tns:pspChiediRTResponse" wsam:Action="http://nodoPSP.fesp.it/ws/FespPsp/PSP/pspChiediRTRisposta" />
        </wsdl:operation>
        <wsdl:operation name="pspInviaAckRT">
            <wsdl:input message="tns:pspInviaAckRT" wsam:Action="http://nodoPSP.fesp.it/ws/FespPsp/PSP/pspInviaAckRT" />
            <wsdl:output message="tns:pspInviaAckRTResponse" wsam:Action="http://nodoPSP.fesp.it/ws/FespPsp/PSP/pspInviaAckRTRisposta" />
        </wsdl:operation>
        <wsdl:operation name="pspChiediAvanzamentoRPT">
            <wsdl:input message="tns:pspChiediAvanzamentoRPT" wsam:Action="http://nodoPSP.fesp.it/ws/FespPsp/PSP/pspChiediAvanzamentoRPT" />
            <wsdl:output message="tns:pspChiediAvanzamentoRPTResponse" wsam:Action="http://nodoPSP.fesp.it/ws/FespPsp/PSP/pspChiediAvanzamentoRPTRisposta" />
        </wsdl:operation>
        <wsdl:operation name="pspChiediListaRT">
            <wsdl:input message="tns:pspChiediListaRT" wsam:Action="http://nodoPSP.fesp.it/ws/FespPsp/PSP/pspChiediListaRT" />
            <wsdl:output message="tns:pspChiediListaRTResponse" wsam:Action="http://nodoPSP.fesp.it/ws/FespPsp/PSP/pspChiediListaRTRisposta" />
        </wsdl:operation>
        <wsdl:operation name="pspNotificaCancellazioneRPT">
            <wsdl:input message="tns:pspNotificaCancellazioneRPT" wsam:Action="http://nodoPSP.fesp.it/ws/FespPsp/PSP/pspNotificaCancellazioneRPT"></wsdl:input>
            <wsdl:output message="tns:pspNotificaCancellazioneRPTResponse" wsam:Action="http://nodoPSP.fesp.it/ws/FespPsp/PSP/pspNotificaCancellazioneRPTRisposta"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="pspInviaRichiestaStorno">
            <wsdl:input message="tns:pspInviaRichiestaStorno" wsam:Action="http://nodoPSP.fesp.it/ws/FespPsp/PSP/pspInviaRichiestaStorno"></wsdl:input>
            <wsdl:output message="tns:pspInviaRichiestaStornoResponse" wsam:Action="http://nodoPSP.fesp.it/ws/FespPsp/PSP/pspInviaRichiestaStornoRisposta"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="pspInviaRispostaRevoca">
            <wsdl:input message="tns:pspInviaRispostaRevoca" wsam:Action="http://nodoPSP.fesp.it/ws/FespPsp/PSP/pspInviaRispostaRevoca"></wsdl:input>
            <wsdl:output message="tns:pspInviaRispostaRevocaResponse" wsam:Action="http://nodoPSP.fesp.it/ws/FespPsp/PSP/pspInviaRispostaRevocaRisposta"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="FespPspBinding" type="tns:FespPsp">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="pspInviaRPT">
            <soap:operation soapAction="pspInviaRPT" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="pspInviaCarrelloRPT">
            <soap:operation soapAction="pspInviaCarrelloRPT" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="pspInviaCarrelloRPTCarte">
            <soap:operation soapAction="pspInviaCarrelloRPTCarte" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="pspChiediRT">
            <soap:operation soapAction="pspChiediRT" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="pspInviaAckRT">
            <soap:operation soapAction="pspInviaAckRT" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="pspChiediAvanzamentoRPT">
            <soap:operation soapAction="pspChiediAvanzamentoRPT" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="pspChiediListaRT">
            <soap:operation soapAction="pspChiediListaRT" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="pspNotificaCancellazioneRPT">
            <soap:operation soapAction="pspNotificaCancellazioneRPT" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="pspInviaRichiestaStorno">
            <soap:operation soapAction="pspInviaRichiestaStorno" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="pspInviaRispostaRevoca">
            <soap:operation soapAction="pspInviaRispostaRevoca" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="FespPspService">
        <wsdl:port name="PSPPort" binding="tns:FespPspBinding">
            <soap:address location="http://PuntoAccessoPSP.spcoop.gov.it/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
