xsd/nodeForPsp_2_0_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema version="2.0.0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://pagopa-api.pagopa.gov.it/nodeForPsp/xsd/v2.0.0/" xmlns:nfp="http://pagopa-api.pagopa.gov.it/nodeForPsp/xsd/v2.0.0/" xmlns:common="http://pagopa-api.pagopa.gov.it/xsd/common-types/v2.0.0/" elementFormDefault="qualified">

	<xs:import namespace="http://pagopa-api.pagopa.gov.it/xsd/common-types/v2.0.0/" schemaLocation="common-types_2_0_0.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" />

	<xsd:simpleType name="stAmountOptionPSP">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="EQ"></xsd:enumeration>
			<xsd:enumeration value="LS"></xsd:enumeration>
			<xsd:enumeration value="GT"></xsd:enumeration>
			<xsd:enumeration value="ANY"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stIdPSP">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="35" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stIdBroker">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="35" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stIdChannel">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="35" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stPassword">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="8" />
			<xsd:maxLength value="15" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stCommissione">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Y" />
			<xsd:enumeration value="N" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="ctPaymentOptionDescription">
		<xsd:sequence>
			<xsd:element name="amount" type="common:stAmount" />
			<xsd:element name="options" type="nfp:stAmountOptionPSP" />
			<xsd:element name="dueDate" type="common:stISODate" minOccurs="0" />
			<xsd:element name="paymentNote" type="common:stText210" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ctPaymentOptionsDescriptionList">
		<xsd:sequence>
			<xsd:element name="paymentOptionDescription" type="nfp:ctPaymentOptionDescription" maxOccurs="5" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="stPaymentMethod">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="cash" />
			<xsd:enumeration value="creditCard" />
			<xsd:enumeration value="bancomat" />
			<xsd:enumeration value="other" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stPaymentChannel">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="frontOffice" />
			<xsd:enumeration value="atm" />
			<xsd:enumeration value="onLine" />
			<xsd:enumeration value="app" />
			<xsd:enumeration value="other" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="ctSubject">
		<xsd:sequence>
			<xsd:element name="uniqueIdentifier" type="common:ctEntityUniqueIdentifier" />
			<xsd:element name="fullName" type="common:stText70" />
			<xsd:element name="streetName" type="common:stText70" minOccurs="0" />
			<xsd:element name="civicNumber" type="common:stText16" minOccurs="0" />
			<xsd:element name="postalCode" type="common:stText16" minOccurs="0" />
			<xsd:element name="city" type="common:stText35" minOccurs="0" />
			<xsd:element name="stateProvinceRegion" type="common:stText35" minOccurs="0" />
			<xsd:element name="country" type="common:stNazioneProvincia" minOccurs="0" />
			<xsd:element name="e-mail" type="common:stEMail" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ctOutcomeDetails">
		<xsd:sequence>
			<xsd:element name="paymentMethod" type="nfp:stPaymentMethod" />
			<xsd:element name="paymentChannel" type="nfp:stPaymentChannel" minOccurs="0" />
			<xsd:element name="fee" type="common:stAmount" />
			<xsd:element name="primaryCiIncurredFee" type="common:stAmount" minOccurs="0" />
			<xsd:element name="idBundle" type="common:stText70" minOccurs="0" />
			<xsd:element name="idCiBundle" type="common:stFiscalCodePA" minOccurs="0" />
			<xsd:element name="payer" type="nfp:ctSubject" minOccurs="0" />
			<xsd:element name="applicationDate" type="common:stISODate" />
			<xsd:element name="transferDate" type="common:stISODate" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="stIdempotencyKey">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{11}_[a-zA-Z0-9]{10}" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="stPaymentTokens">
		<xsd:sequence>
			<xsd:element name="paymentToken" type="common:stPaymentToken" minOccurs="1" maxOccurs="5" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="stExpirationTime">
		<xsd:restriction base="xsd:integer">
			<xsd:maxInclusive value="1800000" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="ctPaymentOptionsBollettinoDescriptionList">
		<xsd:sequence>
			<xsd:element name="paymentOptionDescription" type="nfp:ctPaymentOptionBollettinoDescription" maxOccurs="5" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ctPaymentOptionBollettinoDescription">
		<xsd:sequence>
			<xsd:element name="amount" type="common:stAmount" />
			<xsd:element name="options" type="nfp:stAmountOptionPSP" />
			<xsd:element name="dueDate" type="common:stISODate" minOccurs="0" />
			<xsd:element name="paymentNote" type="common:stText210" minOccurs="0" />
			<xsd:element name="allCCP" type="xsd:boolean" minOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ctTransferPSP">
		<xsd:sequence>
			<xsd:element name="idTransfer" type="common:stIdTransfer" />
			<xsd:element name="transferAmount" type="common:stAmount" />
			<xsd:element name="fiscalCodePA" type="common:stFiscalCodePA" />
			<xsd:element name="IBAN" type="common:stIBAN" />
			<xsd:element name="remittanceInformation" type="common:stText140" />
			<xsd:element name="metadata" type="common:ctMetadata" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ctTransferListPSP">
		<xsd:sequence>
			<xsd:element name="transfer" type="nfp:ctTransferPSP" maxOccurs="5" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="demandPaymentNoticeRequest">
		<xsd:sequence>
			<xsd:element name="idPSP" type="nfp:stIdPSP" />
			<xsd:element name="idBrokerPSP" type="nfp:stIdBroker" />
			<xsd:element name="idChannel" type="nfp:stIdChannel" />
			<xsd:element name="password" type="nfp:stPassword" />
			<xsd:element name="idServizio" type="common:stIdentificativoServizio" maxOccurs="1" />
			<xsd:element name="datiSpecificiServizio" type="xsd:base64Binary" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="demandPaymentNoticeResponse">
		<xsd:complexContent>
			<xsd:extension base="common:ctResponse">
				<xsd:sequence>
					<xsd:element name="paymentList" type="nfp:ctPaymentOptionsDescriptionList" minOccurs="0" />
					<xsd:element name="paymentDescription" type="common:stText210" minOccurs="0"></xsd:element>
					<xsd:element name="fiscalCodePA" type="common:stFiscalCodePA" minOccurs="0"></xsd:element>
					<xsd:element name="companyName" type="common:stText140" minOccurs="0"></xsd:element>
					<xsd:element name="officeName" type="common:stText140" minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="activatePaymentNoticeV2Request">
		<xsd:sequence>
			<xsd:element name="idPSP" type="nfp:stIdPSP" />
			<xsd:element name="idBrokerPSP" type="nfp:stIdBroker" />
			<xsd:element name="idChannel" type="nfp:stIdChannel" />
			<xsd:element name="password" type="nfp:stPassword" />
			<xsd:element name="idempotencyKey" type="nfp:stIdempotencyKey" minOccurs="1" />
			<xsd:element name="qrCode" type="common:ctQrCode" />
			<xsd:element name="expirationTime" type="nfp:stExpirationTime" minOccurs="0" />
			<xsd:element name="amount" type="common:stAmount" />
			<xsd:element name="dueDate" type="common:stISODate" minOccurs="0" />
			<xsd:element name="paymentNote" type="common:stText210" minOccurs="0" />
			<xsd:element name="paymentMethod" type="common:stText70" minOccurs="0" />
			<xsd:element name="touchPoint" type="common:stText70" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="activatePaymentNoticeV2Response">
		<xsd:complexContent>
			<xsd:extension base="common:ctResponse">
				<xsd:sequence>
					<xsd:element name="totalAmount" type="common:stAmount" minOccurs="0" />
					<xsd:element name="paymentDescription" type="common:stText140" minOccurs="0" />
					<xsd:element name="fiscalCodePA" type="common:stFiscalCodePA" minOccurs="0" />
					<xsd:element name="companyName" type="common:stText140" minOccurs="0" />
					<xsd:element name="officeName" type="common:stText140" minOccurs="0" />
					<xsd:element name="paymentToken" type="common:stPaymentToken" minOccurs="0" />
					<xsd:element name="transferList" type="nfp:ctTransferListPSP" minOccurs="0" />
					<xsd:element name="metadata" type="common:ctMetadata" minOccurs="0" />
					<xsd:element name="creditorReferenceId" type="common:stText35" minOccurs="0" />
					<xsd:element name="suggestedUserFee" type="common:stAmount" minOccurs="0" />
					<xsd:element name="suggestedPaFee" type="common:stAmount" minOccurs="0" />
					<xsd:element name="suggestedIdBundle" type="common:stText70" minOccurs="0" />
					<xsd:element name="suggestedIdCiBundle" type="common:stFiscalCodePA" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="sendPaymentOutcomeV2Request">
		<xsd:sequence>
			<xsd:element name="idPSP" type="nfp:stIdPSP" />
			<xsd:element name="idBrokerPSP" type="nfp:stIdBroker" />
			<xsd:element name="idChannel" type="nfp:stIdChannel" />
			<xsd:element name="password" type="nfp:stPassword" />
			<xsd:element name="idempotencyKey" type="nfp:stIdempotencyKey" minOccurs="1" />
			<xsd:element name="paymentTokens" type="nfp:stPaymentTokens" />
			<xsd:element name="outcome" type="common:stOutcome" />
			<xsd:element name="details" type="nfp:ctOutcomeDetails" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="sendPaymentOutcomeV2Response">
		<xsd:complexContent>
			<xsd:extension base="common:ctResponse"></xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="nodoChiediCatalogoServiziV2Request">
		<xsd:sequence>
			<xsd:element name="identificativoPSP" type="common:stText35" minOccurs="1" />
			<xsd:element name="identificativoIntermediarioPSP" type="common:stText35" minOccurs="1" />
			<xsd:element name="identificativoCanale" type="common:stText35" minOccurs="1" />
			<xsd:element name="password" type="nfp:stPassword" minOccurs="1" />
			<xsd:element name="identificativoDominio" type="common:stText35" minOccurs="0" />
			<xsd:element name="categoria" type="common:stText35" minOccurs="0" />
			<xsd:element name="commissione" type="nfp:stCommissione" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="nodoChiediCatalogoServiziV2Response">
		<xsd:complexContent>
			<xsd:extension base="common:risposta">
				<xsd:sequence>
					<xsd:element name="xmlCatalogoServizi" type="xsd:base64Binary" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

</schema>