xsd/nodeForPsp.xsd

<schema version="1.0.0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://pagopa-api.pagopa.gov.it/node/nodeForPsp.xsd"
		xmlns:common="http://pagopa-api.pagopa.gov.it/xsd/common-types/v1.0.0/" xmlns:tns="http://pagopa-api.pagopa.gov.it/node/nodeForPsp.xsd">

	<xs:import namespace="http://pagopa-api.pagopa.gov.it/xsd/common-types/v1.0.0/" schemaLocation="sac-common-types-1.0.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" />

	<xsd:simpleType name="stIBAN">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stPaymentMethodFee">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="BBT" /> <!-- Bonifico Bancario di Tesoreria -->
			<xsd:enumeration value="BP" /> <!-- Bollettino Postale -->
			<xsd:enumeration value="AD" /> <!-- Addebito Diretto -->
			<xsd:enumeration value="CP" /> <!-- Carta di Pagamento -->
			<xsd:enumeration value="PO" /> <!-- Pagamento attivato presso PSP  -->
			<xsd:enumeration value="OBEP" /> <!-- Online Banking Electronic Payment -->
			<xsd:enumeration value="JIF" /> <!-- Bancomat Pay  -->
			<xsd:enumeration value="MYBK" /> <!-- MyBank Seller Bank -->
			<xsd:enumeration value="PPAL" /> <!-- PayPal -->
			<xsd:maxLength value="4" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stTouchpointFee">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="IO" />
			<xsd:enumeration value="WISP" />
			<xsd:enumeration value="CHECKOUT" />
			<xsd:enumeration value="PSP" /> <!-- Pagamento presso PSP  generico -->
			<xsd:enumeration value="ATM" /> <!-- Pagamento presso PSP  ATM -->
			<xsd:enumeration value="BETTING" /> <!-- Pagamento presso PSP  ricevitoria -->
			<xsd:enumeration value="TS" /> <!-- Pagamento presso PSP  tabaccheria -->
			<xsd:enumeration value="HB" /> <!-- Pagamento presso PSP  home banking -->
			<xsd:maxLength value="10" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stIdPSP">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="35" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stIdBroker">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="35" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stIdChannel">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="35" />
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:simpleType name="stText210">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="210" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stIdTransfer">
		<xsd:restriction base="xsd:int">
			<xsd:enumeration value="1" />
			<xsd:enumeration value="2" />
			<xsd:enumeration value="3" />
			<xsd:enumeration value="4" />
			<xsd:enumeration value="5" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stIdempotencyKey">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{11}_[a-zA-Z0-9]{10}" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="stPaymentTokens">
		<xsd:sequence>
			<xsd:element name="paymentToken" type="common:stPaymentToken" minOccurs="1" maxOccurs="5" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="stCommissione">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Y" />
			<xsd:enumeration value="N" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stExpirationTime">
		<xsd:restriction base="xsd:integer">
			<xsd:maxInclusive value="1800000" />
		</xsd:restriction>
	</xsd:simpleType>

	<!-- 	<xsd:simpleType name="stUUID"> -->
	<!-- 		<xsd:restriction base="xsd:string"> -->
	<!-- 			<xsd:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}" /> -->
	<!-- 		</xsd:restriction> -->
	<!-- 	</xsd:simpleType> -->

	<xsd:simpleType name="stPostalAccount">
		<xsd:restriction base="xsd:string">
			<xsd:length value="12" />
			<xsd:pattern value="[0-9]{12}" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stIUVCheckDigit">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stPaymentMethod">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="cash" />
			<xsd:enumeration value="creditCard" />
			<xsd:enumeration value="bancomat" />
			<xsd:enumeration value="other" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stPaymentChannel">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="frontOffice" />
			<xsd:enumeration value="atm" />
			<xsd:enumeration value="onLine" />
			<xsd:enumeration value="app" />
			<xsd:enumeration value="other" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stEntityUniqueIdentifierValue">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="2" />
			<xsd:maxLength value="16" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stEntityUniqueIdentifierType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="F" /> <!-- Persona Fisica -->
			<xsd:enumeration value="G" /> <!-- Persona Giuridica -->
			<xsd:length value="1" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stAmountOptionPSP">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="EQ"></xsd:enumeration> <!-- is equal to -->
			<xsd:enumeration value="LS"></xsd:enumeration> <!-- is greater than -->
			<xsd:enumeration value="GT"></xsd:enumeration> <!-- is less than -->
			<xsd:enumeration value="ANY"></xsd:enumeration> <!-- -->
		</xsd:restriction>
	</xsd:simpleType>

	<!--Complex type -->

	<xsd:complexType name="ctEntityUniqueIdentifier">
		<xsd:sequence>
			<xsd:element name="entityUniqueIdentifierType" type="tns:stEntityUniqueIdentifierType" />
			<xsd:element name="entityUniqueIdentifierValue" type="tns:stEntityUniqueIdentifierValue" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ctSubject">
		<xsd:sequence>
			<xsd:element name="uniqueIdentifier" type="tns:ctEntityUniqueIdentifier" />
			<xsd:element name="fullName" type="common:stText70" />
			<xsd:element name="streetName" type="common:stText70" minOccurs="0" />
			<xsd:element name="civicNumber" type="common:stText16" minOccurs="0" />
			<xsd:element name="postalCode" type="common:stText16" minOccurs="0" />
			<xsd:element name="city" type="common:stText35" minOccurs="0" />
			<xsd:element name="stateProvinceRegion" type="common:stText35" minOccurs="0" />
			<xsd:element name="country" type="common:stNazioneProvincia" minOccurs="0" />
			<xsd:element name="e-mail" type="common:stEMail" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="risposta">
		<xsd:sequence>
			<xsd:element name="fault" type="tns:faultBean" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="faultBean">
		<xsd:sequence>
			<xsd:element name="faultCode" type="xsd:string" />
			<xsd:element name="faultString" type="xsd:string" />
			<xsd:element name="id" type="xsd:string" />
			<xsd:element name="description" type="xsd:string" minOccurs="0" />
			<xsd:element name="serial" type="xsd:int" minOccurs="0" />
			<xsd:element name="originalFaultCode" type="xsd:string" minOccurs="0" />
			<xsd:element name="originalFaultString" type="xsd:string" minOccurs="0" />
			<xsd:element name="originalDescription" type="xsd:string" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ctQrCode">
		<xsd:sequence>
			<xsd:element name="fiscalCode" type="common:stFiscalCodePA" />
			<xsd:element name="noticeNumber" type="common:stNoticeNumber" />
		</xsd:sequence>
	</xsd:complexType>

	<!-- Payment List : verify response -->
	<xsd:complexType name="ctPaymentOptionDescription">
		<xsd:sequence>
			<xsd:element name="amount" type="common:stAmount" />
			<xsd:element name="options" type="tns:stAmountOptionPSP" />
			<xsd:element name="dueDate" type="common:stISODate" minOccurs="0" /> <!-- Data di scadenza del pagamento -->
			<xsd:element name="paymentNote" type="tns:stText210" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ctPaymentOptionBollettinoDescription">
		<xsd:sequence>
			<xsd:element name="amount" type="common:stAmount" />
			<xsd:element name="options" type="tns:stAmountOptionPSP" />
			<xsd:element name="dueDate" type="common:stISODate" minOccurs="0" /> <!-- Data di scadenza del pagamento -->
			<xsd:element name="paymentNote" type="tns:stText210" minOccurs="0" />
			<xsd:element name="allCCP" type="xsd:boolean" minOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ctPaymentOptionsDescriptionList">
		<xsd:sequence>
			<xsd:element name="paymentOptionDescription" type="tns:ctPaymentOptionDescription" maxOccurs="5" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ctPaymentOptionsBollettinoDescriptionList">
		<xsd:sequence>
			<xsd:element name="paymentOptionDescription" type="tns:ctPaymentOptionBollettinoDescription" maxOccurs="5" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="stIdentificativoSoggettoServizio">
		<xsd:restriction base="xsd:string">
			<xsd:length value="5" />
		</xsd:restriction>
	</xsd:simpleType>

	<!-- Transfer List : activate response -->

	<xsd:complexType name="ctTransferPSP">
		<xsd:sequence>
			<xsd:element name="idTransfer" type="tns:stIdTransfer" />
			<xsd:element name="transferAmount" type="common:stAmount" />
			<xsd:element name="fiscalCodePA" type="common:stFiscalCodePA" />
			<xsd:element name="IBAN" type="tns:stIBAN" />
			<xsd:element name="remittanceInformation" type="common:stText140" />
			<xsd:element name="metadata" type="common:ctMetadata" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ctTransferListPSP">
		<xsd:sequence>
			<xsd:element name="transfer" type="tns:ctTransferPSP" maxOccurs="5" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ctTransferPSPV2">
		<xsd:sequence>
			<xsd:element name="idTransfer" type="tns:stIdTransfer" />
			<xsd:element name="transferAmount" type="common:stAmount" />
			<xsd:element name="fiscalCodePA" type="common:stFiscalCodePA" />
			<xsd:choice minOccurs="0">
				<xsd:element name="IBAN" type="tns:stIBAN" />
				<xsd:element name="richiestaMarcaDaBollo" type="common:ctRichiestaMarcaDaBollo" />
			</xsd:choice>
			<xsd:element name="remittanceInformation" type="common:stText140" />
			<xsd:element name="metadata" type="common:ctMetadata" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ctTransferListPSPV2">
		<xsd:sequence>
			<xsd:element name="transfer" type="tns:ctTransferPSPV2" maxOccurs="5" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="stIdentificativoServizio">
		<xsd:restriction base="xsd:string">
			<xsd:length value="5" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="ctMarcaDaBollo">
		<xsd:sequence>
			<xsd:element name="paymentToken" type="common:stPaymentToken" />
			<xsd:element name="idTransfer" type="tns:stIdTransfer" />
			<xsd:element name="MBDAttachment" type="xsd:base64Binary" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ctListaMarcheDaBollo">
		<xsd:sequence>
			<xsd:element name="marcaDaBollo" type="tns:ctMarcaDaBollo" maxOccurs="25" />
		</xsd:sequence>
	</xsd:complexType>

	<!--Element req/res -->

	<xsd:complexType name="verificaBollettinoReq">
		<xsd:sequence>
			<xsd:element name="idPSP" type="tns:stIdPSP" />
			<xsd:element name="idBrokerPSP" type="tns:stIdBroker" />
			<xsd:element name="idChannel" type="tns:stIdChannel" />
			<xsd:element name="password" type="common:stPassword" />
			<xsd:element name="ccPost" type="tns:stPostalAccount" />
			<xsd:element name="noticeNumber" type="common:stNoticeNumber" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="verificaBollettinoRes">
		<xsd:complexContent>
			<xsd:extension base="common:ctResponse">

				<xsd:sequence>
					<xsd:element name="paymentBollettinoList" type="tns:ctPaymentOptionsBollettinoDescriptionList" minOccurs="0" />
					<xsd:element name="paymentDescription" type="tns:stText210" minOccurs="0"></xsd:element>
					<xsd:element name="fiscalCodePA" type="common:stFiscalCodePA" minOccurs="0"></xsd:element>
					<xsd:element name="noticeNumber" type="common:stNoticeNumber" minOccurs="0"></xsd:element>

					<xsd:element name="companyName" type="common:stText140" minOccurs="0"></xsd:element>
					<xsd:element name="officeName" type="common:stText140" minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="verifyPaymentNoticeReq">
		<xsd:sequence>
			<xsd:element name="idPSP" type="tns:stIdPSP" />
			<xsd:element name="idBrokerPSP" type="tns:stIdBroker" />
			<xsd:element name="idChannel" type="tns:stIdChannel" />
			<xsd:element name="password" type="common:stPassword" />
			<xsd:element name="qrCode" type="tns:ctQrCode" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="verifyPaymentNoticeRes">
		<xsd:complexContent>
			<xsd:extension base="common:ctResponse">
				<xsd:sequence>
					<xsd:element name="paymentList" type="tns:ctPaymentOptionsDescriptionList" minOccurs="0" />
					<xsd:element name="paymentDescription" type="tns:stText210" minOccurs="0"></xsd:element>
					<xsd:element name="fiscalCodePA" type="common:stFiscalCodePA" minOccurs="0"></xsd:element>
					<xsd:element name="companyName" type="common:stText140" minOccurs="0"></xsd:element>
					<xsd:element name="officeName" type="common:stText140" minOccurs="0"></xsd:element>
					<!-- <xsd:element name="chargePA" type="common:stAmount" minOccurs="0"
						/> -->
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<xsd:complexType name="activatePaymentNoticeReq">
		<xsd:sequence>
			<xsd:element name="idPSP" type="tns:stIdPSP" />
			<xsd:element name="idBrokerPSP" type="tns:stIdBroker" />
			<xsd:element name="idChannel" type="tns:stIdChannel" />
			<xsd:element name="password" type="common:stPassword" />
			<xsd:element name="idempotencyKey" type="tns:stIdempotencyKey" minOccurs="0" />
			<xsd:element name="qrCode" type="tns:ctQrCode" />
			<!-- expirationTime related to TOKEN generated by nodoSPC -->
			<!-- expirationTime is set to 30min as default by NodoSPC -->
			<xsd:element name="expirationTime" type="tns:stExpirationTime" minOccurs="0" />
			<!-- required , neeed to importoSingoloVersamento present in to paaAttivaRPT -->
			<xsd:element name="amount" type="common:stAmount" />
			<!-- Data di scadenza del pagamento -->
			<xsd:element name="dueDate" type="common:stISODate" minOccurs="0" />
			<xsd:element name="paymentNote" type="tns:stText210" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<!-- if PA OLD configured if DUE_DATE not set : set DB_DUE_DATE to actual 
		time -->
	<xsd:complexType name="activatePaymentNoticeRes">
		<xsd:complexContent>
			<xsd:extension base="common:ctResponse">
				<xsd:sequence>
					<xsd:element name="totalAmount" type="common:stAmount" minOccurs="0" />
					<xsd:element name="paymentDescription" type="common:stText140" minOccurs="0" /> <!-- TODOPS -->
					<xsd:element name="fiscalCodePA" type="common:stFiscalCodePA" minOccurs="0" />
					<xsd:element name="companyName" type="common:stText140" minOccurs="0" />
					<xsd:element name="officeName" type="common:stText140" minOccurs="0" />
					<!-- <xsd:element name="chargePA" type="common:stAmount" minOccurs="0"
						/> -->
					<xsd:element name="paymentToken" type="common:stPaymentToken" minOccurs="0" />
					<xsd:element name="transferList" type="tns:ctTransferListPSP" minOccurs="0" />
					<xsd:element name="creditorReferenceId" type="common:stText35" minOccurs="0" /> <!--IUV -->
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="ctOutcomeDetails">
		<xsd:sequence>
			<xsd:element name="paymentMethod" type="tns:stPaymentMethod" />
			<xsd:element name="paymentChannel" type="tns:stPaymentChannel" minOccurs="0" />
			<xsd:element name="fee" type="common:stAmount" />
			<xsd:element name="payer" type="tns:ctSubject" minOccurs="0" />
			<xsd:element name="applicationDate" type="common:stISODate" /> <!--data applicativa-->
			<xsd:element name="transferDate" type="common:stISODate" /> <!--data di disposizione bonifico-->
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ctOutcomeDetailsV2">
		<xsd:sequence>
			<xsd:element name="paymentMethod" type="tns:stPaymentMethod" />
			<xsd:element name="paymentChannel" type="tns:stPaymentChannel" minOccurs="0" />
			<xsd:element name="fee" type="common:stAmount" />
			<xsd:element name="primaryCiIncurredFee" type="common:stAmount" minOccurs="0" />
			<xsd:element name="idBundle" type="common:stText70" minOccurs="0" />
			<xsd:element name="idCiBundle" type="common:stText70" minOccurs="0" />
			<xsd:element name="payer" type="tns:ctSubject" minOccurs="0" />
			<xsd:element name="applicationDate" type="common:stISODate" /> <!--data applicativa-->
			<xsd:element name="transferDate" type="common:stISODate" /> <!--data di disposizione bonifico-->
			<xsd:element name="marcheDaBollo" type="tns:ctListaMarcheDaBollo" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="sendPaymentOutcomeReq">
		<xsd:sequence>
			<xsd:element name="idPSP" type="tns:stIdPSP" />
			<xsd:element name="idBrokerPSP" type="tns:stIdBroker" />
			<xsd:element name="idChannel" type="tns:stIdChannel" />
			<xsd:element name="password" type="common:stPassword" />
			<xsd:element name="idempotencyKey" type="tns:stIdempotencyKey" minOccurs="0" />
			<xsd:element name="paymentToken" type="common:stPaymentToken" />
			<xsd:element name="outcome" type="common:stOutcome" />
			<xsd:element name="details" type="tns:ctOutcomeDetails" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="sendPaymentOutcomeRes">
		<xsd:complexContent>
			<xsd:extension base="common:ctResponse"></xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="nodoInviaFlussoRendicontazioneRequest">
		<xsd:sequence>
			<xsd:element name="identificativoPSP" type="common:stText35" />
			<xsd:element name="identificativoIntermediarioPSP" type="common:stText35" />
			<xsd:element name="identificativoCanale" type="common:stText35" />
			<xsd:element name="password" type="common:stPassword" />
			<xsd:element name="identificativoDominio" type="common:stText35" />
			<xsd:element name="identificativoFlusso" type="xsd:string" />
			<xsd:element name="dataOraFlusso" type="xsd:dateTime" />
			<xsd:element name="xmlRendicontazione" type="xsd:base64Binary" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="nodoInviaFlussoRendicontazioneResponse">
		<xsd:complexContent>
			<xsd:extension base="tns:risposta">
				<xsd:sequence>
					<xsd:element name="esito" type="xsd:string" minOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="nodoChiediInformativaPARequest">
		<xsd:sequence>
			<xsd:element name="identificativoPSP" type="common:stText35" minOccurs="0" />
			<xsd:element name="identificativoIntermediarioPSP" type="common:stText35" />
			<xsd:element name="identificativoCanale" type="common:stText35" />
			<xsd:element name="password" type="common:stPassword" />
			<xsd:element name="identificativoDominio" type="common:stText35" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="nodoChiediInformativaPAResponse">
		<xsd:complexContent>
			<xsd:extension base="tns:risposta">
				<xsd:sequence>
					<xsd:element name="xmlInformativa" type="xsd:base64Binary" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="nodoChiediTemplateInformativaPSPRequest">
		<xsd:sequence>
			<xsd:element name="identificativoPSP" type="common:stText35" />
			<xsd:element name="identificativoIntermediarioPSP" type="common:stText35" />
			<xsd:element name="identificativoCanale" type="common:stText35" />
			<xsd:element name="password" type="common:stPassword" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="nodoChiediTemplateInformativaPSPResponse">
		<xsd:complexContent>
			<xsd:extension base="tns:risposta">
				<xsd:sequence>
					<xsd:element name="xmlTemplateInformativa" type="xsd:base64Binary" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="demandPaymentNoticeRequest">
		<xsd:sequence>
			<xsd:element name="idPSP" type="tns:stIdPSP" />
			<xsd:element name="idBrokerPSP" type="tns:stIdBroker" />
			<xsd:element name="idChannel" type="tns:stIdChannel" />
			<xsd:element name="password" type="common:stPassword" />
			<xsd:element name="idSoggettoServizio"
						 type="tns:stIdentificativoSoggettoServizio" maxOccurs="1" />
			<xsd:element name="datiSpecificiServizio"
						 type="xsd:base64Binary" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="demandPaymentNoticeResponse">
		<xsd:complexContent>
			<xsd:extension base="common:ctResponse">
				<xsd:sequence>
					<xsd:element name="qrCode" type="tns:ctQrCode" minOccurs="0"/>
					<xsd:element name="paymentList" type="tns:ctPaymentOptionsDescriptionList" minOccurs="0" maxOccurs="1" />
					<xsd:element name="paymentDescription" type="tns:stText210" minOccurs="0"></xsd:element>
					<xsd:element name="fiscalCodePA" type="common:stFiscalCodePA" minOccurs="0"></xsd:element>
					<xsd:element name="companyName" type="common:stText140" minOccurs="0"></xsd:element>
					<xsd:element name="officeName" type="common:stText140" minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="activatePaymentNoticeV2Request">
		<xsd:sequence>
			<xsd:element name="idPSP" type="tns:stIdPSP" />
			<xsd:element name="idBrokerPSP" type="tns:stIdBroker" />
			<xsd:element name="idChannel" type="tns:stIdChannel" />
			<xsd:element name="password" type="common:stPassword" />
			<xsd:element name="idempotencyKey" type="tns:stIdempotencyKey" minOccurs="0" />
			<xsd:element name="qrCode" type="tns:ctQrCode" />
			<xsd:element name="expirationTime" type="tns:stExpirationTime" minOccurs="0" />
			<xsd:element name="amount" type="common:stAmount" />
			<xsd:element name="dueDate" type="common:stISODate" minOccurs="0" />
			<xsd:element name="paymentNote" type="tns:stText210" minOccurs="0" />
			<xsd:element name="paymentMethod" type="tns:stPaymentMethodFee" minOccurs="0" />
			<xsd:element name="touchPoint" type="tns:stTouchpointFee" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="activatePaymentNoticeV2Response">
		<xsd:complexContent>
			<xsd:extension base="common:ctResponse">
				<xsd:sequence>
					<xsd:element name="totalAmount" type="common:stAmount" minOccurs="0" />
					<xsd:element name="paymentDescription" type="common:stText140" minOccurs="0" />
					<xsd:element name="fiscalCodePA" type="common:stFiscalCodePA" minOccurs="0" />
					<xsd:element name="companyName" type="common:stText140" minOccurs="0" />
					<xsd:element name="officeName" type="common:stText140" minOccurs="0" />
					<xsd:element name="paymentToken" type="common:stPaymentToken" minOccurs="0" />
					<xsd:element name="transferList" type="tns:ctTransferListPSPV2" minOccurs="0" />
					<xsd:element name="metadata" type="common:ctMetadata" minOccurs="0" />
					<xsd:element name="creditorReferenceId" type="common:stText35" minOccurs="0" />
					<xsd:element name="suggestedUserFee" type="common:stAmount" minOccurs="0" />
					<xsd:element name="suggestedPaFee" type="common:stAmount" minOccurs="0" />
					<xsd:element name="suggestedIdBundle" type="common:stText70" minOccurs="0" />
					<xsd:element name="suggestedIdCiBundle" type="common:stText70" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="sendPaymentOutcomeV2Request">
		<xsd:sequence>
			<xsd:element name="idPSP" type="tns:stIdPSP" />
			<xsd:element name="idBrokerPSP" type="tns:stIdBroker" />
			<xsd:element name="idChannel" type="tns:stIdChannel" />
			<xsd:element name="password" type="common:stPassword" />
			<xsd:element name="idempotencyKey" type="tns:stIdempotencyKey" minOccurs="0" />
			<xsd:element name="paymentTokens" type="tns:stPaymentTokens" />
			<xsd:element name="outcome" type="common:stOutcome" />
			<xsd:element name="details" type="tns:ctOutcomeDetailsV2" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="sendPaymentOutcomeV2Response">
		<xsd:complexContent>
			<xsd:extension base="common:ctResponse"></xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="nodoChiediCatalogoServiziV2Request">
		<xsd:sequence>
			<xsd:element name="identificativoPSP" type="common:stText35" minOccurs="1" />
			<xsd:element name="identificativoIntermediarioPSP" type="common:stText35" minOccurs="1" />
			<xsd:element name="identificativoCanale" type="common:stText35" minOccurs="1" />
			<xsd:element name="password" type="common:stPassword" minOccurs="1" />
			<xsd:element name="identificativoDominio" type="common:stText35" minOccurs="0" />
			<xsd:element name="categoria" type="common:stText35" minOccurs="0" />
			<xsd:element name="commissione" type="tns:stCommissione" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="nodoChiediCatalogoServiziV2Response">
		<xsd:complexContent>
			<xsd:extension base="common:ctResponse">
				<xsd:sequence>
					<xsd:element name="xmlCatalogoServizi" type="xsd:base64Binary" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- Wrapper Elements -->
	<xsd:element name="verificaBollettinoReq" type="tns:verificaBollettinoReq" />
	<xsd:element name="verificaBollettinoRes" type="tns:verificaBollettinoRes" />
	<xsd:element name="verifyPaymentNoticeReq" type="tns:verifyPaymentNoticeReq" />
	<xsd:element name="verifyPaymentNoticeRes" type="tns:verifyPaymentNoticeRes" />
	<xsd:element name="activatePaymentNoticeReq" type="tns:activatePaymentNoticeReq" />
	<xsd:element name="activatePaymentNoticeRes" type="tns:activatePaymentNoticeRes" />
	<xsd:element name="sendPaymentOutcomeReq" type="tns:sendPaymentOutcomeReq" />
	<xsd:element name="sendPaymentOutcomeRes" type="tns:sendPaymentOutcomeRes" />

	<xsd:element name="nodoInviaFlussoRendicontazioneRequest" type="tns:nodoInviaFlussoRendicontazioneRequest" />
	<xsd:element name="nodoInviaFlussoRendicontazioneResponse" type="tns:nodoInviaFlussoRendicontazioneResponse" />

	<xsd:element name="nodoChiediTemplateInformativaPSPRequest" type="tns:nodoChiediTemplateInformativaPSPRequest" />
	<xsd:element name="nodoChiediTemplateInformativaPSPResponse" type="tns:nodoChiediTemplateInformativaPSPResponse" />

	<xsd:element name="nodoChiediInformativaPARequest" type="tns:nodoChiediInformativaPARequest" />
	<xsd:element name="nodoChiediInformativaPAResponse" type="tns:nodoChiediInformativaPAResponse" />

	<xsd:element name="demandPaymentNoticeRequest" type="tns:demandPaymentNoticeRequest" />
	<xsd:element name="demandPaymentNoticeResponse" type="tns:demandPaymentNoticeResponse" />

	<xsd:element name="activatePaymentNoticeV2Request" type="tns:activatePaymentNoticeV2Request" />
	<xsd:element name="activatePaymentNoticeV2Response" type="tns:activatePaymentNoticeV2Response" />

	<xsd:element name="sendPaymentOutcomeV2Request" type="tns:sendPaymentOutcomeV2Request" />
	<xsd:element name="sendPaymentOutcomeV2Response" type="tns:sendPaymentOutcomeV2Response" />

	<xsd:element name="nodoChiediCatalogoServiziV2Request" type="tns:nodoChiediCatalogoServiziV2Request" />
	<xsd:element name="nodoChiediCatalogoServiziV2Response" type="tns:nodoChiediCatalogoServiziV2Response" />

</schema>